@using ProjectManager.Models
@model IEnumerable<ProjectManager.Models.Tasks>
@{
    ViewBag.Title = "工作項目";
}

@section style{
    <style>
        .treegrid-indent {
            width: 16px;
            height: 16px;
            display: inline-block;
            position: relative;
        }

        .treegrid-expander {
            width: 16px;
            height: 16px;
            display: inline-block;
            position: relative;
            cursor: pointer;
        }

        .treegrid-expander-expanded {
            background-image: url(../image/collapse.png);
        }

        .treegrid-expander-collapsed {
            background-image: url(../image/expand.png);
        }

        .AlarmIcon {
            font-size: 120%;
            color: #dc3545;
            margin-right: 5px;
        }

        .EditIcon {
            font-size: 120%;
            color: black;
            margin-right: 5px;
        }

        .boldLabel {
            font-weight: 600;
        }

        thead {
            background-color: black;
            color: white;
            /*text-align: center;*/
        }

        .form-control-inline {
            display: inline-block;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
    </style>
}
@section nav{
    @Html.Partial("_PartialPageNav", "Shared")
}
@{
    var project = (Project)ViewBag.Project;
    if (project != null)
    {
        if (project.ProjectID == "P18006")
        {
            <h4>@project.ProjectID &nbsp; @project.ProjectName<span><button id="demoBtn" type="button" class="btn btn-default ml-3">Demo</button></span></h4>
        }
        else
        {
            <h4>@project.ProjectID &nbsp; @project.ProjectName</h4>
        }

    }
}

@*<input id="isGanttShowed" type="checkbox" /> Show Gantt*@
<div id="tasks_layout">
    <div id="ganttContainer" style="width: 100%; height: 500px" hidden></div>
    <div id="treeGridContainer"></div>
</div>

<!--Modal For Delete Comfirm-->
<div class="modal fade" style="top:120px;" id="DeleteAlarmModal" tabindex="-1" role="dialog" aria-labelledby="DeleteAlarmModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius:3px 4px;">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteAlarmModalTitle">
                    <span class="AlarmIcon"><i class="fas fa-exclamation-circle"></i></span>刪除確認
                </h5>
            </div>
            <div class="modal-body pl-3">
                <div class="row">
                    <h6 id="deleteAlarm" class="col-12"></h6>
                </div>
                <div id="deleteAlarm_detail"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btn_ConfirmDelete" class="btn btn-danger">全部刪除</button>
            </div>
        </div>
    </div>
</div>

<!--Modal For Delete Rejected-->
<div class="modal fade" style="top:150px;" id="DeleteRejectedModal" tabindex="-1" role="dialog" aria-labelledby="DeleteAlarmModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius:3px 4px;">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="AlarmIcon"><i class="fas fa-exclamation-circle"></i></span>不可刪除
                </h5>
            </div>
            <div class="modal-body pl-3">
                <div class="row">
                    <h6 id="deleteRejectedMsg" class="col-12"></h6>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">確定</button>
            </div>
        </div>
    </div>
</div>

<!--Modal For Acceptance Comfirm-->
<div class="modal fade" style="top:120px;" id="AcceptanceComfirmModal" tabindex="-1" role="dialog" aria-labelledby="AcceptanceComfirmTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius:3px 4px;">
            <div class="modal-header">
                <h5 class="modal-title" id="AcceptanceComfirmTitle">
                    <span class="EditIcon"><i class="fas fa-clipboard-check"></i></span>驗收及評價確認
                </h5>
            </div>
            <div class="modal-body ">
                <div class="container">
                    <input name="AC_TaskGUID" id="AC_TaskGUID" type="text" hidden />
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="boldLabel">工作項目名稱:</label>
                            <span id="AC_TaskName"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="boldLabel">負責人:</label>
                            <span id="AC_EmployeeName"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="boldLabel">說明:</label>
                            <span id="AC_Description"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="boldLabel">備註:</label>
                            <span id="AC_Tag"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="boldLabel">工作項目評價:</label>
                            <div class="ml-3" id="ScoreCheckboxes">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="CheckOnTime" disabled>
                                    <label class="form-check-label" for="exampleCheck1">按時完成</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="CheckAhead" disabled>
                                    <label class="form-check-label" for="exampleCheck1">提早完成</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="Check3">
                                    <label class="form-check-label" for="exampleCheck1">Clean-Code</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="Check4">
                                    <label class="form-check-label" for="exampleCheck1">符合90%以上需求功能</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="Check5">
                                    <label class="form-check-label" for="exampleCheck1">文件或註解完整</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="Check5">
                                    <label class="form-check-label" for="exampleCheck1">架構或分類整理清楚</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn_AbortAccept" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="btn_ConfirmAccept" class="btn btn-primary">確認</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal For Reject Acceptance Comfirm-->
<div class="modal fade" style="top:120px;" id="RejectAcceptanceModal" tabindex="-1" role="dialog" aria-labelledby="RejectAcceptanceModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius:3px 4px;">
            <div class="modal-header">
                <h5 class="modal-title" id="RejectAcceptanceModalTitle">
                    <span class="AlarmIcon"><i class="fas fa-exclamation-circle"></i></span>請選擇駁回或終止此工作項目
                </h5>
            </div>
            <div class="modal-body pl-3">
                <input id="RA_taskGUID" type="text" hidden />
                <div class="row">
                    <h6 class="col-12">&nbsp; 駁回的工作項目將回到進行中狀態</h6>
                </div>
                <div id="deleteAlarm_detail"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_AbortAccept" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btn_EndTask" class="btn btn-danger px-4">終止</button>
                <button type="button" id="btn_ConfirmRejectAccept" class="btn btn-dark text-light px-4">駁回</button>
            </div>
        </div>
    </div>
</div>


@section asideRight{
    <div id="AsideRightContainer" class="container text-light mt-3"></div>
}

@section script{
    <script src="~/Scripts/jquery.treegrid.min.js"></script>
    <script>
        $(document).ready(function () {
            
            $('.rightOpenbtn').html('<i class="fas fa-plus"></i>').mouseup(function () {
                $(this).delay(500);
                asideRightContainer
                        .load("@Url.Action("AsideRightInsertMode", "ProjectDetails")", AsideRightInsertMode);                      
            });

            var tasks_layout = $('#tasks_layout');
            var treeGridContainer = $('#treeGridContainer');
            var ganttContainer = $('#ganttContainer');
            var acceptanceModal = $('#AcceptanceComfirmModal');
            var rejectAcceptModal = $('#RejectAcceptanceModal');
            var asideRightContainer = $('#AsideRightContainer');

            LoadTreeGrid();

            function LoadTreeGrid() {
                treeGridContainer.load("@Url.Action("TreeGridPartialView", "ProjectDetails")", function SetTreeGrid() {
                    $(this).find('table').treegrid();
                    $(this).find('tr').each(DoubleClickToModifyTask);
                    $(this).find('tr a').each(ClickPlusIconToAddTask);
                    $(this).find('td button').each(TaskStatusConfirm);
                });
            }
            
            function SetAsideRightReadOnlyMode() {
                $(this).find('input').prop('disabled', true);
                $(this).find('textarea').prop('disabled', true);
                $(this).find('button[name="CancelBtn"]').click(function () {
                    $('button.rightOpenbtn').click();
                });
            }
            function SetAsideRightEditMode() {
                var _form = $(this).find('form');
                _form.find('input[name="AutoWorkTime"]').prop('disabled', true);
                _form.find('input[type="date"]').on('change', GetAutoWorkTime);
                _form.find('button[name="CancelBtn"]').click(function () {$('button.rightOpenbtn').click(); });
                _form.find('button[name="ModifyBtn"]').on('click', SubmitModifiedTask);
                $(this).find('button[name="DeleteBtn"]').on('click', DeleteTask);
            }
            function AsideRightInsertMode() {                
                var _form = $(this).find('form');
                _form.find('input[name="AutoWorkTime"]').prop('disabled', true);
                _form.find('input[type="date"]').on('change', GetAutoWorkTime);
                _form.find('button[name="CancelBtn"]').click(function () { $('button.rightOpenbtn').click(); });
                _form.find('button[name="InsertBtn"]').on('click', InsertTask);
            }
            function DoubleClickToModifyTask() {
                $(this).on("dblclick", function () {                    

                    @{ var completedTask = (int)TasksBL.Task_Status.Completed;}
                    var _taskGUID = $(this).attr('data-taskGUID');
                    if ($(this).find('td:nth-child(3)').attr('data-TaskStatusID') == @completedTask)
                    {
                        asideRightContainer
                            .load("@Url.Action("AsideRightReadOnlyMode", "ProjectDetails")?taskGUID=" + _taskGUID, SetAsideRightReadOnlyMode);
                    }
                    else
                    {
                        asideRightContainer
                            .load("@Url.Action("AsideRightEditMode", "ProjectDetails")?taskGUID=" + _taskGUID, SetAsideRightEditMode);
                    }
                    if ($('#myRightsidenav').css('display') == "none")
                        $('button.rightOpenbtn').click();
                });
            }
            function ConvertDatetime(_date) {
                date = _date.split("T");
                return date[0];
            }
            function ClickPlusIconToAddTask() {
                $(this).on("click", function () {
                    var _parentGUID = $(this).parents('tr').attr('data-taskGUID');
                    asideRightContainer
                        .load("@Url.Action("AsideRightInsertMode", "ProjectDetails")?parentTaskGUID=" + _parentGUID, AsideRightInsertMode);
                        
                        if ($('#myRightsidenav').css('display') == "none") 
                            $('button.rightOpenbtn').click();
                });
            }

            function SubmitModifiedTask() {
                var data = asideRightContainer.find('form').serialize();
                $.post("@Url.Action("EditTask", "ProjectDetails")",data, function () {
                     LoadTreeGrid();
                });
                $('button.rightOpenbtn').click();
            }
            function GetAutoWorkTime() {
                var _form = asideRightContainer.find('form');
                $.getJSON("@Url.Action("GetAutoWorkTime", "ProjectDetails")", _form.serialize(), function (autoWorkTime) {
                    _form.find('input[name="AutoWorkTime"]').val(autoWorkTime);
                });
            }
            function InsertTask() {
                var _form = asideRightContainer.find('form');
                $.post("@Url.Action("InsertTask", "ProjectDetails")", _form.serialize(), function () {
                    $('.rightOpenbtn').click();
                     LoadTreeGrid();
                });
            }
            function DeleteTask() {
                console.log($(this).text());
                var _taskGUID = asideRightContainer.find('input[name="TaskGUID"]').val();
                $.getJSON("@Url.Action("GetChildTaskCount", "ProjectDetails")?taskGUID=" + _taskGUID, null,
                    function (data) {
                        if (parseInt(data) != 0) {
                            $('#deleteAlarm').html("工作項目  <em>" + $('#TaskName').val() + " </em>  有" + data + "個子項目");
                            $('#btn_ConfirmDelete').text('全部刪除');
                            $('#DeleteAlarmModal').modal('show');
                        } else {
                            $('#deleteAlarm').html("工作項目  <em>" + $('#TaskName').val() + "</em>  將被刪除");
                            $('#btn_ConfirmDelete').text('刪除');
                            $('#DeleteAlarmModal').modal('show');
                        }
                    });
            }
            $('#btn_ConfirmDelete').click(function () {
                $.ajax({
                    url: "@Url.Action("DeleteTasks", "ProjectDetails")",
                    method: "post",
                    data: asideRightContainer.find('form').serialize(),
                    dataType: "json"
                }).done(function (data) {
                    $('#DeleteAlarmModal').modal('hide');
                    if (data.length > 0) {
                        $('#deleteRejectedMsg').text(data);
                        $('#DeleteRejectedModal').modal('show');
                    }
                    $('.rightOpenbtn').click();
                    LoadTreeGrid();
                });
            });

            $('#btn_ConfirmAccept').click(function () {
                var Score = 60;
                var reviewDescription = "";
                var CheckOnTime = $('#CheckOnTime');
                var CheckAhead = $('#CheckAhead');
                if (CheckOnTime.prop('checked')) {
                    Score = 70;
                    reviewDescription += CheckOnTime.parent('div.form-check').children('label').text();
                } else if (CheckAhead.prop('checked')) {
                    Score = 75;
                    reviewDescription += CheckAhead.parent('div.form-check').children('label').text();
                }

                acceptanceModal.find('input:checked').each(function () {
                    if (!$(this).prop('disabled')) {
                        reviewDescription += (reviewDescription.length == 0) ?
                            $(this).parent('div.form-check').children('label').text() : "，" + $(this).parent('div.form-check').children('label').text();
                        Score += 10;
                    }
                });

                Acceptance(true, $('#AC_TaskGUID').val(), Score, reviewDescription);
                acceptanceModal.modal('hide');
            });

            $('#btn_ConfirmRejectAccept').click(function () {
                Acceptance(false, $('#RA_taskGUID').val(), null,"");
                rejectAcceptModal.modal('hide');
            });

            $('#btn_EndTask').click(function () {
                $.post("@Url.Action("EndTask", "ProjectDetails")", { taskGuid: $('#RA_taskGUID').val() }, function (data) {
                    LoadTreeGrid();
                });
                rejectAcceptModal.modal('hide');
            });

            function Acceptance(_confirm, _taskGUID, _reviewScore, _reviewDescription) {
                $.post("@Url.Action("TaskAcceptance", "ProjectDetails")", { isConfirmed: _confirm, taskGuid: _taskGUID, reviewScore: _reviewScore, reviewDescription: _reviewDescription },
                    function (data) {
                        LoadTreeGrid();
                    });
            }

            function TaskStatusConfirm() {
                $(this).on("click", function () {
                    if ($(this).attr('name') == "confirmAcceptBtn") {

                        $('#AC_TaskGUID').val($(this).attr('data-taskGUID'));
                        $('#AC_TaskName').text($(this).parents('tr').children('td:first-child').text());
                        $('#AC_EmployeeName').text($(this).parents('tr').children('td:nth-child(4)').text());
                        $('#AC_Description').text($(this).parents('tr').children('td:nth-child(7)').text())
                        $('#AC_Tag').text($(this).parents('tr').children('td:nth-child(8)').text());

                        $.getJSON('@Url.Action("EditTask", "ProjectDetails")', { TaskGUID: $(this).attr('data-taskGUID') }, function (task) {

                            acceptanceModal.find('input:checked').prop('checked', false);

                            if (task.EstWorkTime == task.WorkTime) {
                                $('#CheckOnTime').prop("checked", true);
                            } else if (task.EstWorkTime > task.WorkTime) {
                                $('#CheckAhead').prop("checked", true);
                            }
                        });

                        acceptanceModal.modal('show');
                    }
                    else if ($(this).attr('name') == "rejectAcceptBtn") {
                        $('#RA_taskGUID').val($(this).attr('data-taskGUID'));
                        $('#RejectAcceptanceModal').modal('show');
                    }
                    else if ($(this).attr('name') == "reviveBtn"){
                        $.post("@Url.Action("TaskRevivedToInProgress", "ProjectDetails")", { taskGuid: $(this).attr('data-taskGUID') }, function (data) {
                            LoadTreeGrid();
                        });
                    }
                });
            }

            function getCookie(cname)
            {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++)
                {
                    var c = ca[i].trim();
                    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
                }
                return "";
            }

            var isHolidayLoaded = getCookie("Holidays");
            if (!(isHolidayLoaded == "loaded")) {
                GetHolidays();
            }

            function GetHolidays() {/*?scope=resourceAquire&rid=b0011e96-3fc3-43ec-8bf5-07fb46dd22bb&offset=599*/
                $.getJSON("https://data.taipei/opendata/datalist/apiAccess", { scope:'resourceAquire', rid:'b0011e96-3fc3-43ec-8bf5-07fb46dd22bb',offset:599}, function (holidays) {
                    $.ajax({
                        url: "@Url.Action("LoadHolidays", "ProjectDetails")",
                        method: "post",
                        data: holidays,
                        dataType: "json"
                    });
                });
            }
            $('#demoBtn').click(function () {
                $.getJSON("@Url.Action("InsertTasksForDemo", "ProjectDetails")", null, function (data) {   });
                location.href = "/ProjectDetails/ProjectDistribution";

            });


        });
    </script>
    <style>
        .table-bordered td, .table-bordered th {
            border: 0px solid;
        }

        .table-bordered tbody tr {
            border: 1px solid #dee2e6;
            background-color: white;
            cursor: pointer;
        }

        .table-hover tbody tr:hover {
            background-color: rgba(0, 0, 0, 0.030);
        }
    </style>
}

