@model IEnumerable<ProjectManager.Models.Tasks>

<table id="treeGrid" class="table table-bordered table-hover tree">
    <thead class="panel-heading">
        <tr>
            <th width="220px;">@Html.DisplayNameFor(m => m.TaskName)</th>
            <th><a href="#"><i class="fas fa-plus"></i></a></th>
            <th>@Html.DisplayNameFor(m => m.TaskStatusID)</th>
            <th>@Html.DisplayNameFor(m => m.EmployeeGUID)</th>
            <th>預計區間</th>
            <th>預計工時</th>
            <th>@Html.DisplayNameFor(m => m.Description)</th>
            <th>@Html.DisplayNameFor(m => m.Tag)</th>
            <th>專案狀態檢核</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var task in @Model)
        {
            var class1 = "treegrid-" + task.orderID;
            var class2 = task.parentOrderID == 0 ? "" : "treegrid-parent-" + task.parentOrderID;
            <tr class="@class1 @class2" data-orderID="@task.orderID" data-taskGUID="@task.TaskGUID">
                <td>@task.TaskName</td>
                <td><a href="#"><i class="fas fa-plus"></i></a></td>
                <td>@task.TaskStatus.TaskStatusName</td>
                <td>@Html.DisplayFor(m => task.Employee.EmployeeName)</td>
                <td>@Html.DisplayFor(m => task.EstStartDate) - @Html.DisplayFor(m => task.EstEndDate)</td>
                <td>@Html.DisplayFor(m => task.EstWorkTime)</td>
                <td>@Html.DisplayFor(m => task.Description)</td>
                <td>@Html.DisplayFor(m => task.Tag)</td>
                <td class="p-0 align-middle">
                    @{
                        TasksBL.Task_Status status = (TasksBL.Task_Status)Enum.Parse(typeof(TasksBL.Task_Status), task.TaskStatusID.ToString());
                        if (status == TasksBL.Task_Status.WaitForConfirmed)
                        {
                            <button name="rejectAcceptBtn" class="btn btn-dark text-light mr-2 p-2" data-taskGUID="@task.TaskGUID">駁回</button>
                            <button name="confirmAcceptBtn" class="btn btn-primary p-2" data-taskGUID="@task.TaskGUID">驗收</button>
                        }
                        else if (status == TasksBL.Task_Status.Ended)
                        {
                            <button name="reviveBtn" class="btn btn-dark text-light-app p-2" data-taskGUID="@task.TaskGUID">恢復</button>
                        }
                    }

                </td>
            </tr>
        }

    </tbody>
</table>