@model ProjectManager.Models.ProjectMemberScoreVM
@*@using ProjectManager.Models;*@
@{
    ViewBag.Title = "專案表現評分";
}


<div class="container" style="height:200px">
    <div class="row">
        <div class="col-6">
            <h3><span class="badge badge-info" data-toggle="tooltip" title="專案期間對小組成員平均">專案第一階段評分</span></h3>
            @foreach (var item in Model.InProgressProject)
            {
            <div class="alert alert-info" role="alert">
                @if (item.ProjectMembers.FirstOrDefault() != null)
                {
                    if (item.ProjectMembers.Average(p => p.PMscore)!= null)
                    {
                        <a href="~/Perfomance/Watch?ProjectGUID=@item.ProjectGUID" class="btn btn-dark" style="float:right"><i class="fas fa-eye"></i>查看評分</a>
                    }
                    else
                    {
                        <a href="#" class="btn btn-dark" style="float:right"><i class="fas fa-exclamation-triangle"></i>尚未評分</a>
                    }
                    if (item.ProjectMembers.Where(p => p.Project.ProjectStatusID == 1 && p.PMscore == null && p.ProjectGUID == item.ProjectGUID && p.Employee.JobTitle.TitleName != "專案經理").Count() >= 1)
                    {
                        <a href="~/Perfomance/ScoreByPM?ProjectGUID=@item.ProjectGUID" class="btn btn-light" style="float:right"><i class="fas fa-star-half-alt"></i>對成員評分</a>
                    }
                    else
                    {
                        <a href="~/Perfomance/ScoreByPM?ProjectGUID=@item.ProjectGUID" class="btn btn-success" style="float:right"><i class="fas fa-check-circle"></i>已全部評分完成</a>
                    }
                }
                else
                {
                    <a href="~/Projects/Index" class="btn btn-light" style="float:right">尚未加入成員，前往加入成員</a>
                }
                <h4 class="alert-heading">@item.ProjectName</h4>
                <p>@item.ProjectStatus.ProjectStatusName</p>
                <hr>
                @foreach (var _member in Model.GetMemberCount)
                {
                    if (_member.Key == item.ProjectName)
                    {
                        <p class="mb-0" style="float:right;">團隊成員數量: @_member.Count</p>
                    }
                }
                @foreach (var _pmscore in Model.GetPMscore)
                {
                    if (_pmscore.Key == item.ProjectName)
                    {
                        if (item.ProjectMembers.Where(p => p.PMscore != null).Count() != 0)
                        {
                            <p class="mb-0">團隊成員平均表現(PM) :@_pmscore.Avg</p>
                            <p class="mb-0">已評分成員數:@item.ProjectMembers.Where(p => p.PMscore != null).Count()</p>
                        }
                    }
                    else if (item.ProjectMembers.Where(p => p.PMscore != null).Count() < 1)
                    {
                        <p>目前沒有評分紀錄</p>
                        break;
                    }
                }
            </div>
            }
        </div>
          
        <div class="col-6">
            <h3><span class="badge badge-info" data-toggle="tooltip" title="當專案工作全部完成時，平均評分會出現">專案第二階段評分</span></h3>
            @foreach (var item in Model.ClosedProject)
            {
                bool flag = true;
            <div class="alert alert-success" role="alert">
                @if (item.ProjectMembers.FirstOrDefault() != null)
                {
                    <a href="~/Perfomance/TaskScoreAVGReview?ProjectGUID=@item.ProjectGUID" class="btn btn-dark" style="float:right"><i class="fas fa-eye"></i>查看評分</a>
                }
                else
                {
                    <a href="#" class="btn btn-light" style="float:right">專案沒有成員!</a>
                }
                <h4 class="alert-heading">@item.ProjectName</h4>
                <p>@item.ProjectStatus.ProjectStatusName</p>
                <hr>
                @foreach (var _member in Model.GetMemberCount)
                {
                    if (_member.Key == item.ProjectName)
                    {
                        <p class="mb-0" style="float:right">團隊成員數量: @_member.Count</p>
                    }
                }
                @foreach (var _taskscore in Model.GetTaskAVGScore)
                {
                    if (_taskscore.Key == item.ProjectName)
                    {
                        <p class="mb-0">團隊成員平均表現 :@_taskscore.Avg</p>
                    }
                    else if(flag)
                    {
                        <p class="mb-0">目前無法觀看評分</p>
                        flag = false;
                    }
                }
            </div>
            }
        </div>
    </div>
</div>

@section script{
    <script>
        $(document).ready(function ()
        {
            $('[data-toggle="tooltip"]').tooltip(); 
        })
    </script>
}
