
@{
    ViewBag.Activity = "費用管理";
    ViewBag.Title = "圖表與統計";
}

@section style{
    <style>
        .rightOpenbtn {
            display: none;
        }
    </style>
}

<div class="ml-5">
    <form class="form-inline">
        <div class="form-group mr-3">
            <div class="input-group-prepend">
                <lable class="input-group-text" for="RequiredDeptGUID">需求部門：</lable>
            </div>
            @{
                SelectList Departments = new SelectList(ViewBag.Departments, "DepartmentGUID", "DepartmentName");
            }
            @Html.DropDownList("RequiredDeptGUID", Departments, "請選擇部門", new { @class = "custom-select" })
        </div>
        <div class="form-group">
            <div class="input-group-prepend">
                <lable class="input-group-text" for="Select_ProjectName">專案名稱：</lable>
            </div>
            <select id="Select_ProjectName" class="custom-select"></select>
        </div>
    </form>
</div>

<div id="ChartContainer" class="hide px-5">
    <div class="row mt-3 mb-3">
        <div class="col-xl-6 col-lg-12">
            <div id="CostsByDepartmentsContainer" class="chart-container bg-light p-3">
                <canvas id="CostsByDepartmentsChart"></canvas>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <div id="OverallRatesContainer" class="chart-container bg-light p-3">
                <canvas id="OverallRatesChart"></canvas>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-xl-6 col-lg-12">
            <div id="CostsByCatsContainer" class="chart-container bg-light p-3">
                <canvas id="CostsByCatsChart"></canvas>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <div id="TasksByStatusContainer" class="chart-container bg-light p-3">
                <canvas id="TasksByStatusChart"></canvas>
            </div>
        </div>
    </div>
</div>


@section script{
    <script src="~/Scripts/Chart.min.js"></script>
    <script>
        $(document).ready(function ()
        {
            $("#ul_costManagement").slideDown();
            $("#li_Charts").addClass("active");

            function LoadProjects()
            {
                var optionlabel = $("<option></option>").text("請選擇專案").val("");
                $("#Select_ProjectName").html(optionlabel);

                if ($("#RequiredDeptGUID").val())
                {
                    $.getJSON("@Url.Action("GetProjectListByDptID", "Cost")", { DepartmentID: $("#RequiredDeptGUID").val() }, function (projects)
                    {
                        var docFrag = $(document.createDocumentFragment());
                        docFrag.append(optionlabel);
                        $.each(projects, function (index, project)
                        {
                            var opt = $("<option></option>").text(project.ProjectName).val(project.ProjectGUID);
                            docFrag.append(opt);
                        });
                        $("#Select_ProjectName").html(docFrag);
                    });
                }
            }

            LoadProjects();

            $("#RequiredDeptGUID").change(() =>
            {
                LoadProjects();
                UpdateChartDatas();
            });

            $("#Select_ProjectName").change(UpdateChartDatas);

            Chart.defaults.global.defaultFontFamily = 'Noto Sans CJK TC';
            Chart.defaults.global.defaultFontSize = 16;
            Chart.defaults.global.tooltips.titleFontStyle = 'normal';

            TasksByStatus(CostsByCatsChart(OverallRatesChart(CostsByDepartmentsChart(function ()
            {
                $("#ChartContainer").fadeIn();
            }))));

            function UpdateChartDatas()
            {
                var data =
                {
                    DepartmentID: $("#RequiredDeptGUID").val(),
                    ProjectID: $("#Select_ProjectName").val()
                }

                $.getJSON("@Url.Action("CostsByDepartments", "Cost")", data, function (datas)
                {
                    myCostsByDepartmentsChart.data = datas;
                    myCostsByDepartmentsChart.update();
                });

                $.getJSON("@Url.Action("OverallRates", "Cost")", data, function (datas)
                {
                    myOverallRatesChart.data = datas;
                    myOverallRatesChart.update();
                });

                $.getJSON("@Url.Action("CostsByCategories", "Cost")", data, function (datas)
                {
                    myCostsByCatsChart.data = datas;
                    myCostsByCatsChart.update();
                });

            }

            function CostsByDepartmentsChart(callback)
            {
                $.getJSON("@Url.Action("CostsByDepartments", "Cost")", { DepartmentID: $("#RequiredDeptGUID").val() }, function (datas)
                {
                    myCostsByDepartmentsChart = new Chart($('#CostsByDepartmentsChart'),
                        {
                            type: 'bar',
                            data: datas,
                            options:
                            {
                                responsive: true,
                                maintainAspectRatio: true,
                                legend:
                                {
                                    position: 'top',
                                },
                                title:
                                {
                                    display: true,
                                    text: '專案預算及費用統計',
                                    fontSize: 20,
                                    padding: 10,
                                },
                                animation:
                                {
                                    animateScale: true,
                                    animateRotate: true
                                },
                            }
                        });

                    if (typeof callback === 'function')
                    {
                        callback();
                    }
                });
            }

            function OverallRatesChart(callback)
            {
                $.getJSON("@Url.Action("OverallRates", "Cost")", null, function (datas)
                {
                    myOverallRatesChart = new Chart($('#OverallRatesChart'),
                        {
                            type: 'horizontalBar',
                            data: datas,
                            options:
                            {
                                responsive: true,
                                maintainAspectRatio: true,
                                scales:
                                {
                                    xAxes: [
                                        {
                                            ticks:
                                            {
                                                beginAtZero: true,
                                                callback: function (value)
                                                {
                                                    return value + "%";
                                                }
                                            }
                                        }]
                                },
                                legend:
                                {
                                    position: 'top',
                                },
                                title:
                                {
                                    display: true,
                                    text: '綜合比率',
                                    fontSize: 20,
                                    padding: 10,
                                },
                                animation:
                                {
                                    animateScale: true,
                                    animateRotate: true
                                },
                            }
                        });

                    if (typeof callback === 'function')
                    {
                        callback();
                    }

                });

            }

            function CostsByCatsChart(callback)
            {
                $.getJSON("@Url.Action("CostsByCategories", "Cost")", null, function (datas)
                {
                    myCostsByCatsChart = new Chart($('#CostsByCatsChart'),
                        {
                            type: 'pie',
                            data: datas,
                            options:
                            {
                                responsive: true,
                                maintainAspectRatio: true,
                                legend:
                                {
                                    position: 'right',
                                },
                                title:
                                {
                                    display: true,
                                    text: '費用類別統計',
                                    fontSize: 20,
                                    padding: 10,
                                },
                                animation:
                                {
                                    animateScale: true,
                                    animateRotate: true
                                },
                            }
                        });

                    if (typeof callback === 'function')
                    {
                        callback();
                    }

                });

            }

            function TasksByStatus(callback)
            {
                $.getJSON("@Url.Action("TasksByStatus", "Cost")", null, function (datas)
                {
                    var myChart = new Chart($('#TasksByStatusChart'),
                        {
                            type: 'bar',
                            data: datas,
                            options:
                            {
                                responsive: true,
                                maintainAspectRatio: true,
                                legend:
                                {
                                    position: 'top',
                                },
                                title:
                                {
                                    display: true,
                                    text: '任務狀態統計',
                                    fontSize: 20,
                                    padding: 10,
                                },
                                animation:
                                {
                                    animateScale: true,
                                    animateRotate: true
                                },
                            }
                        });

                    if (typeof callback === 'function')
                    {
                        callback();
                    }

                });

            }

        });
    </script>
}