@model IEnumerable<ProjectManager.Models.DisplayResource>
@{
    ViewBag.Activity = "成本管理";
    ViewBag.Title = "費用管理";
}

@section style{
    <style>
        .mr-5 {
            margin-right: 5px;
        }

        .wid-5 {
            max-width: 10em;
        }
    </style>
}
<div>
    <form class="form-inline">
        <div class="form-group">
            <label for="ProjectID">專案編號：</label>
            <input class="mr-5 form-control" id="ProjectID" name="ProjectID" placeholder="請輸入專案編號" style="width:10em" type="text" value="">
        </div>
        <div class="form-group">
            <label for="ProjectName">專案名稱：</label>
            <input class="mr-5 form-control" id="ProjectName" name="ProjectName" placeholder="請輸入專案名稱" type="text" value="">
        </div>
        <button id="btn_select_project" type="button" class="btn btn-default" data-toggle="modal" data-target="#SelectProjectModal"><i class="fas fa-list-ul"></i></button>
    </form>
</div>
<button id="AddCat" class="btn btn-primary my-3" data-toggle="modal" data-target="#AddCatModal">新增費用</button>

@if (Model != null)
{
    <table id="tb_cats" class="table table-bordered">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(p => p.First().Date)</td>
                <td>@Html.DisplayNameFor(p => p.First().TaskName)</td>
                <td>@Html.DisplayNameFor(p => p.First().ResourceName)</td>
                <td>@Html.DisplayNameFor(p => p.First().CategoryName)</td>
                <td>@Html.DisplayNameFor(p => p.First().Quantity)</td>
                <td>@Html.DisplayNameFor(p => p.First().Unit)</td>
                <td>@Html.DisplayNameFor(p => p.First().UnitPrice)</td>
                <td>@Html.DisplayNameFor(p => p.First().SubTotal)</td>
                <td>@Html.DisplayNameFor(p => p.First().Description)</td>
            </tr>
        </thead>
        <tbody>
            @{
                ProjectManager.Models.DisplayResource r = new ProjectManager.Models.DisplayResource();

                r.Date = DateTime.Now;
                r.TaskName = "還沒有任務";
                r.ResourceName = "租金";
                r.CategoryName = "固定費用";
                r.Quantity = 1;
                r.Unit = "月";
                r.UnitPrice = 12000;
                r.SubTotal = r.Quantity * r.UnitPrice;
                r.Description = "測試用";
            }
            @foreach (var resource in Model.DefaultIfEmpty(r))
            {
                <tr>
                    <td>@resource.Date</td>
                    <td>@resource.TaskName</td>
                    <td>@resource.ResourceName</td>
                    <td>@resource.CategoryName</td>
                    <td>@resource.Quantity</td>
                    <td>@resource.Unit</td>
                    <td>@resource.UnitPrice</td>
                    <td>@resource.SubTotal</td>
                    <td>@resource.Description</td>
                    <td class="text-center" style="width:75px"><button name="btn_edit" class="btn btn-info">Edit</button></td>
                    <td class="text-center" style="width:75px"><button name="btn_Del" class="btn btn-danger" data-toggle="modal" data-target="#DeleteCatModal">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>請先選取專案或新增費用</h3>
}

<div class="modal fade" style="top:50px;" id="SelectProjectModal" tabindex="-1" role="dialog" aria-labelledby="SelectProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius:3px 4px;">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteCatModalLabel">請選擇專案</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <lable>需求部門：</lable>
                    @{
                        SelectList Departments = new SelectList(ViewBag.Departments, "DepartmentGUID", "DepartmentName");
                    }
                    @Html.DropDownList("RequiredDeptGUID", Departments, new { @class = "btn btn-default" })
                </div>
                <div>
                    <lable>專案名稱：</lable>
                    <select id="Select_ProjectName" class="btn btn-default"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="btn_SelectProject" class="btn btn-primary">確認</button>
            </div>
        </div>
    </div>
</div>

@section script{
    <script>
        $(document).ready(function ()
        {
            function LoadProjects()
            {
                $.getJSON("/Cost/GetProjectList", { DepartmentID: $("#RequiredDeptGUID").val() }, function (projects)
                {
                    console.log(projects);
                    var docFrag = $(document.createDocumentFragment());
                    $.each(projects, function (index, project)
                    {
                        var opt = $("<option></option>").text(project.ProjectName).val(project.ProjectID);
                        docFrag.append(opt);
                    });
                    $("#Select_ProjectName").html(docFrag);
                });
            }
            $("#RequiredDeptGUID").change(LoadProjects);
            $("#btn_select_project").click(LoadProjects);
            $("#btn_SelectProject").click(function ()
            {
                var opt = $("#Select_ProjectName>:selected");
                $("#ProjectID").val(opt.val());
                $("#ProjectName").val(opt.text());
                $("#SelectProjectModal").modal("hide");
            });
        });
    </script>
}