
@{
    ViewBag.Activity = "成本管理";
    ViewBag.Title = "費用管理";
}

@section style{

    <style>

        thead {
            background-color: darkcyan;
            color: white;
            text-align: center;
        }

            thead td {
                cursor: pointer;
            }

            thead a, thead a:hover {
                color: white;
                text-decoration: none;
            }

            thead i {
                float: right;
                height: 24px;
                padding: 4px 0;
            }

        .invalid {
            border-color: #dc3545 !important;
        }
    </style>
}
<div class="row">
    <div class="col-8">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="ProjectID">專案編號：</label>
                </div>
                <div>
                    <input class="form-control" id="ProjectID" name="ProjectID" placeholder="請輸入專案編號" style="width:9em" type="text" value="">
                    <div style="display:none">
                        <ul>
                            <li>
                                <div id="showProjectID"></div>
                                <div id="showProjectName"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group ml-3">
                <div class="input-group-prepend">
                    <lable class="input-group-text" for="RequiredDeptGUID">需求部門：</lable>
                </div>
                @{
                    SelectList Departments = new SelectList(ViewBag.Departments, "DepartmentGUID", "DepartmentName");
                }
                @Html.DropDownList("RequiredDeptGUID", Departments, "請選擇部門", new { @class = "custom-select" })
            </div>
            <div class="form-group ml-3">
                <div class="input-group-prepend">
                    <lable class="input-group-text" for="Select_ProjectName">專案名稱：</lable>
                </div>
                <select id="Select_ProjectName" class="custom-select"></select>
            </div>
        </form>

        <div id="result" class="mt-3" style="display:none">
            <span id="sp_ProjectName"></span>
            <span>中的費用，共有</span>
            <span id="Count_of_Resources"></span>
            <span>筆。</span>
        </div>

        <div id="PageListPager"></div>

    </div>
    <div class="col-4">
        <form id="ResourceFilter" class="hide">
            <div class="form-group row">
                <lable class="input-group-text" for="filter_StartDate">依日期篩選：</lable>
                <div>
                    <input type="date" class="form-control" id="filter_StartDate" name="filter_StartDate"/>
                </div>
                <div style="padding:6px 0">
                    &nbsp;～&nbsp;
                </div>
                <div>
                    <input type="date" class="form-control" id="filter_EndDate" name="filter_EndDate"/>
                </div>
            </div>
            <div class="form-group row">
                <lable class="input-group-text" for="filter_TaskGUID">依工作篩選：</lable>
                <div>
                    <select id="filter_TaskGUID" name="filter_TaskGUID" class="custom-select"></select>
                </div>
            </div>
            <div class="row">
                <lable class="input-group-text" for="filter_CategoryID">依費用類別篩選：</lable>
                <div>
                    @Html.DropDownList("filter_CategoryID", (SelectList)ViewBag.ExpCats, "請選擇類別", new { @class = "form-control custom-select" })
                </div>
            </div>
        </form>
    </div>
</div>

<div id="PartialView" class="hide">
</div>

<div class="modal fade" style="top:50px;" id="DeleteExpModal" tabindex="-1" role="dialog" aria-labelledby="DeleteExpModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius:3px 4px;">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteExpModalLabel">確認要刪除這筆資料嗎?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pl-3">
                <div class="row">
                    <div class="col-sm-3 pr-0">
                        <label>費用日期:</label>
                    </div>
                    <div class="col-sm-9 pl-0">
                        <span id="dd_Date"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 pr-0">
                        <label>工作名稱:</label>
                    </div>
                    <div class="col-sm-9 pl-0">
                        <span id="dd_TaskName"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 pr-0">
                        <label>費用名稱:</label>
                    </div>
                    <div class="col-sm-9 pl-0">
                        <span id="dd_ResourceName"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 pr-0">
                        <label>類別名稱:</label>
                    </div>
                    <div class="col-sm-9 pl-0">
                        <span id="dd_CatName"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 pr-0">
                        <label>單價:</label>
                    </div>
                    <div class="col-sm-9 pl-0">
                        <span id="dd_UnitPrice"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 pr-0">
                        <label>數量:</label>
                    </div>
                    <div class="col-sm-9 pl-0">
                        <span id="dd_Quantity"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 pr-0">
                        <label>小計:</label>
                    </div>
                    <div class="col-sm-9 pl-0">
                        <span id="dd_Subtot"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 pr-0">
                        <label>備註:</label>
                    </div>
                    <div class="col-sm-9 pl-0">
                        <span id="dd_Description"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btn_ConfirmDelete" class="btn btn-danger">確認刪除</button>
            </div>
        </div>
    </div>
</div>

@section asideRight{
    <div class="container text-light mt-3" style="min-width:350px;">
        <form class="needs-validation" id="f_EditResource" novalidate>
            <h4 id="asideTitle" style="display:inline">新增專案費用</h4>
            <button id="btn_reset" type="reset" class="btn btn-danger ml-3">清除重填</button>
            <div>
                <div class="row col-12">
                    <div class="form-group mb-0">
                        <label for="ResourceName">費用名稱：</label>
                        <input id="ResourceGUID" name="ResourceGUID" style="display:none;" />
                        <input id="ResourceName" name="ResourceName" class="form-control" style="width:18em;" required />
                        <div class="invalid-tooltip">
                            費用名稱不可為空
                        </div>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="form-group mt-3 mb-0">
                        <lable for="date">費用發生日期：</lable>
                        <input id="date" name="date" type="date" class="form-control d-inline" required />
                        <div class="invalid-tooltip">
                            請選擇日期
                        </div>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="form-group mt-3 mb-0">
                        <lable for="TaskGUID">費用歸屬工作名稱：</lable>
                        <select id="TaskGUID" name="TaskGUID" class="form-control custom-select" required>
                            <option value="">請先選擇專案</option>
                        </select>
                        <div class="invalid-tooltip">
                            請選擇工作項目
                        </div>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="form-group mt-3 mb-0">
                        <lable for="CategoryID">費用類別：</lable><br />
                        @Html.DropDownList("CategoryID", (SelectList)ViewBag.ExpCats, "請選擇類別", new { @class = "form-control custom-select", required = true })
                        <div class="invalid-tooltip">
                            請選擇費用類別
                        </div>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="form-group mr-5 mt-3 mb-0">
                        <lable for="Quantity">數量：</lable>
                        <input id="Quantity" name="Quantity" class="form-control" style="width:7em;" required />
                        <div class="invalid-tooltip">
                            請輸入數量
                        </div>
                    </div>
                    <div class="form-group mt-3 mb-0">
                        <lable for="UnitPrice">單價：</lable>
                        <input id="UnitPrice" name="UnitPrice" class="form-control" style="width:7em;" required />
                        <div class="invalid-tooltip">
                            請輸入單價
                        </div>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="form-group  mt-3 mb-0">
                        <lable for="Description">備註：</lable>
                        <textarea id="Description" name="Description" class="form-control" style="width:300px;height:150px;resize:none"></textarea>
                        <div class="invalid-tooltip">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-12">
                <div id="formBtns" class="mt-3 mx-auto text-center">
                    <button id="btn_CancelEdit" type="button" class="btn btn-default py-1 px-3 mr-3">取消</button>
                    <button id="btn_ConfirmAdd" type="button" class="btn btn-primary py-1 px-3">確認新增</button>
                    <button id="btn_ConfirmModify" type="button" class="btn btn-success py-1 px-3">確認修改</button>
                    @*<button id="btn_Validate" type="button" class="btn btn-info py-1 px-3">驗證</button>*@
                </div>
            </div>
        </form>
    </div>
}

@section script{
    <script>
        $(document).ready(function ()
        {
            $(".rightOpenbtn").html('<i class="fas fa-plus"></i>');
            $("#ul_costManagement").slideDown();
            $("#li_ExpList").addClass("active");

            function LoadProjects()
            {
                var optionlabel = $("<option></option>").text("請選擇專案").val("");
                $("#Select_ProjectName").html(optionlabel);
                $("#result").hide();

                if ($("#RequiredDeptGUID").val())
                {
                    $.getJSON("@Url.Action("GetProjectListByDptID", "Cost")", { DepartmentID: $("#RequiredDeptGUID").val() }, function (projects)
                    {
                        var docFrag = $(document.createDocumentFragment());
                        docFrag.append(optionlabel);
                        $.each(projects, function (index, project)
                        {
                            var opt = $("<option></option>").text(project.ProjectName).val(project.ProjectID).attr("data-projectguid", project.ProjectGUID);
                            docFrag.append(opt);
                        });
                        $("#Select_ProjectName").html(docFrag);
                    });
                }
            }

            LoadProjects();

            $("#RequiredDeptGUID").change(LoadProjects);

            $("#Select_ProjectName").change(function ()
            {
                LoadResources();
                LoadTasks();
                document.getElementById("ResourceFilter").reset();
            });

            $("#ResourceFilter :input").change(LoadResources);

            function getCookie(cname)
            {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) 
                {
                    var c = ca[i].trim();
                    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
                }
                return "";
            }

            function LoadResources()
            {
                var opt = $("#Select_ProjectName>:selected");
                var projectGUID = opt.data('projectguid');
                var PartialView = $("#PartialView");
                var result = $("#result");
                var pager = $("#PageListPager");
                var sortBy = getCookie("sortBy");
                var filter = $("#ResourceFilter");
                var filterBy = filter.serialize();

                if (projectGUID)
                {
                    $("#ProjectID").val(opt.val());
                    $("#sp_ProjectName").text(opt.text());
                    PartialView.load("@Url.Action("GetTaskResources", "Cost")/" + projectGUID + "?sortBy=" + sortBy, filterBy, function ()
                    {
                        $("#Count_of_Resources").text($("#tb_TaskResources").data("count"));
                        Binding();
                    }).fadeIn();
                    result.fadeIn();
                    pager.fadeIn();
                    filter.fadeIn();
                }
                else
                {
                    PartialView.fadeOut();
                    result.fadeOut();
                    pager.fadeOut();
                    filter.fadeOut();
                }
            }

            function LoadTasks()
            {
                var ProjectGuid = $("#Select_ProjectName>:selected").data('projectguid');
                $.getJSON("@Url.Action("GetTaskListByProjectGuid", "Cost")", { ProjectGuid: ProjectGuid }, function (tasks)
                {
                    var optionlabel = $("<option></option>").text("請選擇工作").val("");
                    var docFrag = $(document.createDocumentFragment());
                    var TaskGUID = $("#TaskGUID");

                    docFrag.append(optionlabel);
                    $.each(tasks, function (index, task)
                    {
                        var opt = $("<option></option>").val(task.TaskGUID).text(task.TaskName);
                        docFrag.append(opt);
                    })
                    TaskGUID.html(docFrag);
                    $("#filter_TaskGUID").html(TaskGUID.html());
                });
            };

            $(".rightOpenbtn").click(SetRightAsideToAdd)

            function SetRightAsideToAdd()
            {
                $("#asideTitle").text("新增專案費用");
                $("#btn_ConfirmAdd").show();
                $("#btn_ConfirmModify").hide();
                $("#ResourceGUID").val("");
            }

            $("#btn_reset").click(function ()
            {
                $('#f_EditResource').removeClass('was-validated');
                $('.invalid-tooltip').removeAttr('style');
                $('.invalid').removeClass('invalid');
            })

            $("#btn_CancelEdit").click(function ()
            {
                $('#myRightsidenav').slideUp();
                $('#f_EditResource').removeClass('was-validated');
                $('.invalid-tooltip').removeAttr('style');
                $('.invalid').removeClass('invalid');
            })

            $("#btn_ConfirmAdd").click(AddResource);
            function AddResource()
            {
                var form = document.getElementById("f_EditResource")
                var data = $(form).serialize();

                if (form.checkValidity() && Validate())
                {
                    $.post("@Url.Action("AddTaskResource", "Cost")", data, function ()
                    {
                        LoadResources();
                    });
                }
                else
                {
                    form.classList.add('was-validated');
                }
            }

            $("#btn_ConfirmModify").click(UpdateResource);
            function UpdateResource()
            {
                var form = document.getElementById("f_EditResource")
                var data = $(form).serialize();

                if (form.checkValidity() && Validate())
                {
                    $.post("@Url.Action("UpdateTaskResource", "Cost")", data, function ()
                    {
                        LoadResources();
                    });
                    $('#myRightsidenav').slideUp();
                }
                else
                {
                    form.classList.add('was-validated');
                }
            }

            //輸入驗證
            $("#ResourceName").keyup(function ()
            {
                var regexp = /^[\u4e00-\u9fa5_a-zA-Z0-9]*$/;
                var NameCheck = regexp.test($(this).val());
                var invalidTip = $(this).siblings(".invalid-tooltip");

                if (!NameCheck)
                {
                    invalidTip.show();
                    invalidTip.html("名稱不可包含特殊字元")
                    $(this).addClass("invalid");
                }
                else if ($(this).val() == "")
                {
                    invalidTip.show();
                    invalidTip.html("名稱不可為空")
                    $(this).addClass("invalid");
                }
                else
                {
                    invalidTip.hide();
                    $(this).removeClass("invalid");
                }
            })
            $("#UnitPrice").keyup(function ()
            {
                var regexp = /^([\d]+).?[\d]{0,4}$/;
                var UnitPriceCheck = regexp.test($("#UnitPrice").val());
                var invalidTip = $(this).parent("div").children(".invalid-tooltip");

                if (!UnitPriceCheck)
                {
                    invalidTip.show();
                    invalidTip.html("單價必須為小數位不超過4位之數字")
                    $(this).addClass("invalid");
                }
                else if ($(this).val() == "")
                {
                    invalidTip.show();
                    invalidTip.html("單價不可為空")
                    $(this).addClass("invalid");
                }
                else
                {
                    invalidTip.hide();
                    $(this).removeClass("invalid");
                }
            })
            $("#Quantity").keyup(function ()
            {
                var regexp = /^([\d]+)$/;
                var QuantityCheck = regexp.test($(this).val());
                var invalidTip = $(this).parent("div").children(".invalid-tooltip");

                if (!QuantityCheck)
                {
                    invalidTip.show();
                    invalidTip.html("數量必須為整數");
                    $(this).addClass("invalid");
                }
                else if ($(this).val() == "")
                {
                    invalidTip.show();
                    invalidTip.html("數量不可為空");
                    $(this).addClass("invalid");
                }
                else
                {
                    invalidTip.hide();
                    $(this).removeClass("invalid");
                }
            })
            $("#Description").keyup(function ()
            {
                var regexp = /^[\u4e00-\u9fa5_a-zA-Z0-9]*$/;
                var DescriptionCheck = regexp.test($(this).val());
                var invalidTip = $(this).parent("div").children(".invalid-tooltip");

                if (!DescriptionCheck)
                {
                    invalidTip.show();
                    invalidTip.html("備註內容不可包含特殊字元");
                    $(this).addClass("invalid");
                }
                else
                {
                    invalidTip.hide();
                    $(this).removeClass("invalid");
                }
            })

            function Validate()
            {
                var regexp_Name = /^[\u4e00-\u9fa5_a-zA-Z0-9]+$/;
                var regexp_Num = /^([\d]+).?[\d]{0,4}$/;
                var regexp_Description = /^[\u4e00-\u9fa5_a-zA-Z0-9]*$/;
                var NameCheck = regexp_Name.test($("#ResourceName").val());
                var UnitPriceCheck = regexp_Num.test($("#UnitPrice").val());
                var QuantityCheck = regexp_Num.test($("#Quantity").val());
                var DescriptionCheck = regexp_Description.test($("#Description").val());

                //console.log("NameCheck:" + NameCheck);
                //console.log("UnitPriceCheck:" + UnitPriceCheck);
                //console.log("QuantityCheck:" + QuantityCheck);
                //console.log("DescriptionCheck:" + DescriptionCheck);

                var result = NameCheck && UnitPriceCheck && QuantityCheck && DescriptionCheck

                //console.log("result：" + result);

                return result;
            }

            function Binding()
            {
                var pgcontainer = $(".pagination-container");
                var pager = pgcontainer.html();
                $("#PageListPager").html(pager);
                pgcontainer.hide();

                $("#tb_TaskResources>tbody").on("click", ":button[name='btn_edit']", SetRightAsideToModify);

                function SetRightAsideToModify()
                {
                    $("#asideTitle").text("編輯專案費用");
                    $("#btn_ConfirmAdd").hide();
                    $("#btn_ConfirmModify").show();
                    $('#myRightsidenav').slideDown();

                    var DateArray = $(this).parents("tr").children("td:nth-child(1)").text().split('/');
                    var TaskGUID = $(this).parents("tr").children("td:nth-child(2)").data('taskguid');
                    var ResourceGuid = $(this).parents("tr").children("td:nth-child(3)").data('resourceguid');
                    var ResourceName = $(this).parents("tr").children("td:nth-child(3)").text();
                    var CatID = $(this).parents("tr").children("td:nth-child(4)").data('categoryid');
                    var Quantity = $(this).parents("tr").children("td:nth-child(5)").text();
                    var UnitPrice = $(this).parents("tr").children("td:nth-child(6)").data('unitprice');
                    var Description = $(this).parents("tr").children("td:nth-child(8)").text();

                    $("#ResourceGUID").val(ResourceGuid);
                    $("#ResourceName").val(ResourceName);

                    var year = DateArray[0];
                    var month = DateArray[1].length == 1 ? "0" + DateArray[1] : DateArray[1];
                    var day = DateArray[2].length == 1 ? "0" + DateArray[2] : DateArray[2];
                    var formattedDate = year + "-" + month + "-" + day;

                    $("#date").val(formattedDate);
                    $("#TaskGUID").val(TaskGUID);
                    $("#CategoryID").val(CatID);
                    $("#Quantity").val(Quantity);
                    $("#UnitPrice").val(UnitPrice);
                    $("#Description").val(Description);
                }

                $("#tb_TaskResources>tbody").on("click", ":button[name='btn_Del']", ShowDeleteModal);

                function ShowDeleteModal()
                {
                    var Date = $(this).parents("tr").children("td:nth-child(1)").text();
                    var TaskName = $(this).parents("tr").children("td:nth-child(2)").text();
                    var ResourceGuid = $(this).parents("tr").children("td:nth-child(3)").data('resourceguid');
                    var ExpName = $(this).parents("tr").children("td:nth-child(3)").text();
                    var CatName = $(this).parents("tr").children("td:nth-child(4)").text();
                    var Quantity = $(this).parents("tr").children("td:nth-child(5)").text();
                    var UnitPrice = $(this).parents("tr").children("td:nth-child(6)").text();
                    var Subtotal = $(this).parents("tr").children("td:nth-child(7)").text();
                    var Description = $(this).parents("tr").children("td:nth-child(8)").text();

                    $("#btn_ConfirmDelete").attr("data-resourceguid", ResourceGuid);

                    $("#dd_Date").text(Date);
                    $("#dd_TaskName").text(TaskName);
                    $("#dd_ResourceName").text(ExpName);
                    $("#dd_CatName").text(CatName);
                    $("#dd_Quantity").text(Quantity);
                    $("#dd_UnitPrice").text(UnitPrice);
                    $("#dd_Subtot").text(Subtotal);
                    $("#dd_Description").text(Description);
                }

                $('.pagination a').click(function (e)
                {
                    e.preventDefault();
                    var sortBy = getCookie("sortBy");
                    var filterBy = $("#ResourceFilter").serialize();
                    var Action = $(this).attr("href") + "&sortBy=" + sortBy;
                    $("#PartialView").load(Action, filterBy, function ()
                    {
                        $("#Count_of_Resources").text($("#tb_TaskResources").data("count"));
                        Binding();
                    });
                })

                $('#tb_TaskResources > thead td').click(function ()
                {
                    $(this).children('a').click();
                })

                $('#tb_TaskResources > thead a').click(function (e)
                {
                    e.stopPropagation();
                    e.preventDefault();

                    var filterBy = $("#ResourceFilter").serialize();
                    var Action = $(this).attr("href");
                    $("#PartialView").load(Action, filterBy, function ()
                    {
                        $("#Count_of_Resources").text($("#tb_TaskResources").data("count"));
                        Binding();
                    });
                })
            }

            $("#btn_ConfirmDelete").click(DeleteResource);
            function DeleteResource()
            {
                var ResourceGuid = this.dataset.resourceguid;
                $("#DeleteExpModal").modal("hide");
                $.post("@Url.Action("DeleteTaskResource", "Cost")", { id: ResourceGuid }, function ()
                {
                    LoadResources();
                });
            }
        });
    </script>
}