@model IEnumerable<ProjectManager.Models.CostEstimateSheetVM>

<table id="tb_CostEstimateSheets" class="table table-bordered" data-count="@ViewBag.Count">
    <thead>
        <tr>
            <td style="min-width:150px">建立日期</td>
            <td style="min-width:150px">估價單名稱</td>
            <td style="min-width:150px">專案名稱</td>
            <td style="min-width:150px">備註</td>
            <td style="min-width:150px">最後修改日期</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var sheet in Model)
        {
            <tr data-id="@sheet.SheetGUID">
                <td><p>@sheet.CreateDate</p></td>
                <td><p>@sheet.SheetName</p></td>
                <td><p>@sheet.ProjectName</p></td>
                <td><p>@sheet.Description</p></td>
                <td><p>@sheet.ModifiedDate</p></td>
            </tr>
        }
    </tbody>
</table>