@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ProjectManager.Models.ProjectResourceVM>

@Html.PagedListPager(Model, page => Url.Action("GetTaskResources", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
<table id="tb_TaskResources" class="table table-bordered" data-count="@Model.Count()">
    <thead>
        <tr>
            <td width="130px">@Html.DisplayNameFor(p => p.First().Date)</td>
            <td>@Html.DisplayNameFor(p => p.First().TaskName)</td>
            <td>@Html.DisplayNameFor(p => p.First().ResourceName)</td>
            <td width="130px">@Html.DisplayNameFor(p => p.First().CategoryName)</td>
            <td width="75px">@Html.DisplayNameFor(p => p.First().Quantity)</td>
            <td width="100px">@Html.DisplayNameFor(p => p.First().UnitPrice)</td>
            <td width="150px">@Html.DisplayNameFor(p => p.First().SubTotal)</td>
            <td width="300px">@Html.DisplayNameFor(p => p.First().Description)</td>
            <td colspan="2">編輯</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var resource in Model)
        {
            <tr>
                <td><p>@resource.Date.ToShortDateString()</p></td>
                <td data-taskguid="@resource.TaskGUID"><p>@resource.TaskName</p></td>
                <td data-resourceguid="@resource.ResourceGUID"><p>@resource.ResourceName</p></td>
                <td data-categoryid="@resource.CategoryID"><p>@resource.CategoryName</p></td>
                <td class="text-sm-right"><p>@resource.Quantity</p></td>
                <td class="text-sm-right" data-unitprice="@resource.UnitPrice"><p>@resource.UnitPrice.ToString("C0")</p></td>
                <td class="text-sm-right"><p>@resource.SubTotal.ToString("C0")</p></td>
                <td><p>@resource.Description</p></td>
                <td class="text-center" style="width:75px"><button name="btn_edit" class="btn btn-info">Edit</button></td>
                <td class="text-center" style="width:75px"><button name="btn_Del" class="btn btn-danger" data-toggle="modal" data-target="#DeleteExpModal">Delete</button></td>
            </tr>
        }
    </tbody>
</table>