@model IEnumerable<ProjectManager.Models.GroupedProject>
@{
    string strStatus = "";
    switch (ViewBag.StatusID)
    {
        case 1:
            strStatus = "進行中";
            break;
        case 2:
            strStatus = "審議中";
            break;
        case 3:
            strStatus = "已結案";
            break;
        default:
            break;
    }
    ViewBag.Title = "專案 > " + strStatus ;
}
@section style{
    <style>
        h4:hover {
            text-decoration: none;
            cursor: pointer;
        }
    </style>
}


<div id="btn-plus" class="position-fixed" style="bottom:6em; right:10px;">
    <a href="#" class="btn btn-light rounded-circle shadow-lg"><span style="font-size:2em;color:lightgray"><i class="fas fa-plus"></i></span></a>
</div>

<div id="ProjectsOverview" class="container mt-5">
    @{int i = 0; }
    @foreach (var g in Model)
    {
        i++;
        <h4 class="text-dark" style="font-size:20px;" data-Dept=Dept@(i)>
            <span class="float-left"><i class="fas fa-caret-down"></i></span>
            @g.DepartmentName
        </h4>

        <div class="collapsible my-4 container" id=Dept@(i)>
            @foreach (var item in g.group)
            {
                <a href="~/ProjectDetails/Index?ProjectGUID=@item.ProjectGUID">
                    <div class="card d-inline-block mr-3 mb-2 " style="width:18rem;">
                        <div class="card-header bg-dark">
                            <span class="text-light">@Html.DisplayNameFor(m => m.group.FirstOrDefault().CompletedRate)</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                            </div>
                            <span class="text-light">@Html.DisplayNameFor(m => m.group.FirstOrDefault().DurationSavedRate)</span>
                            <div class="progress ">
                                <div class="progress-bar " role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                            </div>
                        </div>
                        <div class="card-footer text-center text-muted ">
                            <div class="row align-items-center">
                                <div class="col-2"><i class="fas fa-minus"></i></div>
                                <div class="col-8 small">@Html.DisplayFor(m => item.ProjectName)</div>
                                <div class="col-2">
                                    @{
                                        if ((bool)item.IsGeneralManagerConcerned)
                                        {
                                            @Html.Raw("<i class='fas fa-star' style='color:black'></i>")
                                        }
                                        else
                                        {
                                            @Html.Raw("<i class='far fa-star' style='color:black'></i>")
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    }
</div>

@section script{
    <script>
        $(document).ready(function () {
            var createProjectForm = $('#CreateProjectForm');
            var Overview = $('#ProjectsOverview');

            $('#btn-plus>a').click(function () {
                createProjectForm.css({ "right": 0 });
            });
            $('#formBtns').children('button').click(function () {
                createProjectForm.css({ "right": -99999 });
            });

            Overview.find('h4').on("click", function () {
                var _dept = "#" + $(this).attr("data-Dept");
                $(_dept).toggle("blind", {}, 300);
                $(this).find("i").toggleClass("fas fa-caret-down").toggleClass("fas fa-caret-right");
            });
        });

    </script>

}
