@model IEnumerable<ProjectManager.Models.GroupedProject>
@{
    string strStatus = "";
    switch (ViewBag.StatusID)
    {
        case 1:
            strStatus = "進行中";
            break;
        case 2:
            strStatus = "審議中";
            break;
        case 3:
            strStatus = "已結案";
            break;
        default:
            break;
    }
    ViewBag.Title = "專案 > " + strStatus;
}
@section style{
    <style>
        h4:hover {
            text-decoration: none;
            cursor: pointer;
        }
    </style>
}


<div id="btn-plus" class="position-fixed" style="bottom:6em; right:10px;">
    <a href="#" class="btn btn-light rounded-circle shadow-lg"><span style="font-size:2em;color:lightgray"><i class="fas fa-plus"></i></span></a>
</div>

<div id="ProjectsOverview" class="container mt-5">
    @{int i = 0; }
    @foreach (var g in Model)
    {
        i++;
        <h4 class="text-dark" style="font-size:20px;" data-Dept=Dept@(i)>
            <span class="float-left"><i class="fas fa-caret-down"></i></span>
            @g.DepartmentName
        </h4>

        <div class="collapsible my-4 container" id=Dept@(i)>
            @foreach (var item in g.group)
            {
                <a href="~/ProjectDetails/ProjectReport?ProjectGUID=@item.ProjectGUID" data-ProjectGUID="@item.ProjectGUID">
                    <div class="card d-inline-block mr-3 mb-2 " style="width:18rem;">
                        <div class="card-header bg-dark">
                            <span class="text-light">@Html.DisplayNameFor(m => m.group.FirstOrDefault().CompletedRate)</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                            </div>
                            <span class="text-light">@Html.DisplayNameFor(m => m.group.FirstOrDefault().DurationSavedRate)</span>
                            <div class="progress ">
                                <div class="progress-bar " role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                            </div>
                        </div>
                        <div class="card-footer text-center text-muted ">
                            <div class="row align-items-center">
                                <div class="col-2"></div>
                                <div class="col-8 small">@Html.DisplayFor(m => item.ProjectName)</div>
                                <div class="col-2">
                                    @{
                                        if ((bool)item.IsGeneralManagerConcerned)
                                        {
                                            @Html.Raw("<i class='fas fa-star' style='color:black'></i>")
                                        }
                                        else
                                        {
                                            @Html.Raw("<i class='far fa-star' style='color:black'></i>")
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    }
</div>

@section asideRight{
<div class="container text-light mt-3">
    <h4>新增專案</h4>
    <form class="form-horizontal " action="~/Projects/CreateProject" method="post">
        <input name="ProjectID" type="hidden" class="form-control d-inline" style="width:10em;" value="test" />
        <div class="form-group">
            @Html.LabelFor(m => m.FirstOrDefault().group.FirstOrDefault().ProjectName)
            @Html.TextBox("ProjectName", null, new { @class = "form-control", style = "width:18em;" })
        </div>

        <div class="row ">
            <div class="col-6 form-group">
                @Html.LabelFor(m => m.FirstOrDefault().group.FirstOrDefault().RequiredDeptGUID)
                @Html.DropDownList("RequiredDeptGUID", (SelectList)ViewBag.Departments, "請選擇", new { @class = "form-control", style = "width:10em;" })
            </div>
            <div class="col-6 form-group">
                @Html.LabelFor(m => m.FirstOrDefault().group.FirstOrDefault().RequiredDeptPMGUID)
                @Html.DropDownList("RequiredDeptPMGUID", (SelectList)ViewBag.Employees, "請選擇", new { @class = "form-control", style = "width:10em;" })
            </div>
        </div>
        <div class="row ">
            <div class="col-6 form-group">
                @Html.LabelFor(m => m.FirstOrDefault().group.FirstOrDefault().EstStartDate)
                <input name="EstStartDate" type="date" class="form-control d-inline" />
            </div>
            <div class="col-6 form-group">
                @Html.LabelFor(m => m.FirstOrDefault().group.FirstOrDefault().EstEndDate)
                <input name="EstEndDate" type="date" class="form-control d-inline" />
            </div>
        </div>
        <div class="row ">
            <div class="col-6 form-group">
                @Html.LabelFor(m => m.FirstOrDefault().group.FirstOrDefault().StartDate)
                <input name="StartDate" type="date" class="form-control d-inline" />
            </div>
            <div class="col-6 form-group">
                @Html.LabelFor(m => m.FirstOrDefault().group.FirstOrDefault().EndDate)
                <input name="EndDate" type="date" class="form-control d-inline" />
            </div>
        </div>

        <div class="row">
            <div class="col-6 form-group">
                @Html.LabelFor(m => m.FirstOrDefault().group.FirstOrDefault().ProjectStatusID)
                @Html.DropDownList("ProjectStatusID", (SelectList)ViewBag.ProjectStatuses, "請選擇", new { @class = "form-control", style = "width:10em;" })
            </div>
            <div class="col-6 form-group">
                @Html.LabelFor(m => m.FirstOrDefault().group.FirstOrDefault().ProjectCategoryID)
                @Html.DropDownList("ProjectCategoryID", (SelectList)ViewBag.ProjectCategories, "請選擇", new { @class = "form-control", style = "width:10em;" })
            </div>
        </div>
        <div class="row ">
            <div class="col-6 form-group">
                @Html.LabelFor(m => m.FirstOrDefault().group.FirstOrDefault().ProjectSupervisorGUID)
                @Html.DropDownList("ProjectSupervisorGUID", (SelectList)ViewBag.Employees, "請選擇", new { @class = "form-control", style = "width:10em;" })
            </div>
            <div class="col-6 form-group ">
                @Html.LabelFor(m => m.FirstOrDefault().group.FirstOrDefault().IsGeneralManagerConcerned)<br />
                @Html.RadioButton("IsGeneralManagerConcerned", true, true, new { @class = "form-control d-inline align-middle", style = "width:1.2em;" })<span class="mr-2">是</span>
                @Html.RadioButton("IsGeneralManagerConcerned", false, false, new { @class = "form-control d-inline align-middle", style = "width:1.2em;" })<span>否</span>
            </div>
        </div>
        <div id="formBtns" class="mt-5 mx-auto text-center ">
            <button id="cancelBtn" type="button" class="btn btn-light py-1 px-5">取消</button>
            <button id="confiredBtn" type="submit" class="btn btn-primary py-1 px-5">確認</button>
        </div>
    </form>
</div>
}

@section script{
    <script>
        $(document).ready(function () {
            var dtNow = new Date($.now());
            var dtyy = dtNow.getFullYear()
            var dtMM = dtNow.getMonth() + 1
            var dtdd = dtNow.getDate();
            $('input[type="date"]').val(dtyy + '-' + dtMM + '-' + dtdd);
            
            var createProjectForm = $('#CreateProjectForm');
            var Overview = $('#ProjectsOverview');

            $('#btn-plus>a').click(function () {
                $('button.rightOpenbtn').click();
            });
            $('#formBtns').children('button').click(function () {
                $('button.rightOpenbtn').click();
            });

            Overview.find('h4').on("click", function () {
                var _dept = "#" + $(this).attr("data-Dept");
                $(_dept).toggle("blind", {}, 300);
                $(this).find("i").toggleClass("fas fa-caret-down").toggleClass("fas fa-caret-right");
            });
            
        });

    </script>

}
