@model IEnumerable<ProjectManager.Models.ViewModel.NotificationVM>

@{
    ViewBag.Title = "你的通知";
}
@section style
{
    <style>
        .projectLink {
            padding: 20px;
            background-color: white;
        }

            .projectLink:hover {
                background-color: #e6e8eb;
                text-decoration: underline;
            }

        .tasktime {
            float: right;
        }
    </style>
}
<div class="container mt-5">
    <hr />
    @foreach (var vm in Model)
    {
    <div class="projectLink" data-projectGUID="@vm.ProjectGUID">
        @switch (vm.Category)
        {
            case "Task":
                <span>「@vm.MangerName 」在「 @vm.ProjectName 」分配了「@vm.TaskName」給你</span>
                break;
            case "InvideProject":
                <span>「@vm.MangerName 」邀請你加入了「 @vm.ProjectName 」專案</span>

                break;
        }

        <span class="tasktime">@vm.NotificationDate</span>
    </div>
    }

</div>
@section script
            {
    <script>
        $(document).ready(function () {
            $('.projectLink').click(RedirectToMyBoard);

                    function RedirectToMyBoard() {
                        console.log('231234')
                        $.post("@Url.Action("SetCookiesForMyBoard", "Home")", { projectGUID: $(this).attr("data-projectGUID") },
                    function (userGUID) {
                        location.href = "/MyBoard/Index/" + userGUID;
                    });
            }
        });
    </script>
}