@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<ProjectManager.Models.DocumentCategory>

@{
    ViewBag.Title = "文件管理";
    ViewBag.Activity = "文件管理";
}
@section style
{
    <style>
        td {
            text-align: center;
        }
        .topnav a {
            cursor: pointer;
        }

        .click {
            background-color: #dddfe2;
        }

        thead {
            background-color: darkcyan;
            color: white;
            text-align: center;
        }
    </style>
}
<nav>
    <div class="topnav nav nav-tabs nav-fill " id="nav-tab" role="tablist">
        @foreach (var category in Model)
        {
            <a class="nav-item nav-link" data-categoryid="@category.CategoryID" role="tab" aria-controls="nav-home" aria-selected="true">@category.CategoryName</a>
        }
    </div>
</nav>
<div id="PartialView" class="hide">
</div>
@section asideRight{
    <div class="container text-light mt-3 mb-3" style="min-width:350px;">
        <form class="needs-validation" novalidate action="~/Document/AddFile/" method="post" enctype="multipart/form-data">
            <h4 style="display:inline">新增文件</h4>
            <div>
                <div class="row col-12">
                    <div class="form-group mb-0">
                        <label for="DocumentName">文件名稱：</label>
                        <input name="DocumentName" class="form-control" style="width:18em;" required />
                    </div>
                </div>

                <div class="row col-12">
                    <div class="form-group mt-3 mb-0">
                        <lable for="CategoryID">文件類別：</lable><br />
                        @Html.DropDownList("DocumentCategory", (SelectList)ViewBag.DocCategory, null, new { @class = "form-control custom-select", required = true })
                    </div>
                </div>
                <div class="row col-12">
                    <div id="projectList" class="form-group  mb-0 mt-3">
                        <lable for="ProjectGUID">專案列表：</lable><br />
                        <select id="ProjectSelect" name="ProjectGUID" class="form-control custom-select"></select>
                    </div>
                </div>
                <div class="row col-12">
                    <div id="taskList" class="form-group  mb-0 mt-3">
                        <lable for="TaskGUID">任務列表：</lable><br />
                        <select id="TaskSelect" name="TaskGUID" class="form-control custom-select "></select>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="form-group mt-3 mb-0">
                        <label for="file">檔案上傳：</label>
                        <input type="file" name="file" style="width:18em;" required />
                    </div>
                </div>

                <div class="row col-12">
                    <div class="form-group  mt-3 mb-0">
                        <lable for="Description">備註：</lable>
                        <textarea name="Description" class="form-control" style="width:300px;height:auto;min-height:100px;resize:none"></textarea>

                    </div>
                </div>
            </div>

            <div class="row col-12">
                <div id="formBtns" class="mt-3 mx-auto text-center">
                    <button id="btn_CancelEdit" type="reset" class="btn btn-default py-1 px-3 mr-3">取消</button>
                    <button id="btn_ConfirmAdd" type="submit" class="btn btn-primary py-1 px-3">上傳</button>
                </div>
            </div>
        </form>
    </div>
}
@section script
{
    <script>
        $(document).ready(function () {
            $('#li_Document').addClass('active');
            $("#PartialView").load("/Document/GetDocument/1", {}, function () {
                $('#nav-tab > a').first().addClass('click');
            }).fadeIn();

            $('#nav-tab > a').click(function () {
                var PartialView = $("#PartialView");
                var docCategory = $(this).data('categoryid');
                $('#nav-tab > a').removeClass('click')
                $(this).addClass('click');
                if (docCategory) {
                    PartialView.load("/Document/GetDocument/" + docCategory, {}, function () {

                    }).fadeIn();
                }
            })


            var projectGUID;
            var projectSelect = $('#ProjectSelect');
            var taskSelect = $('#TaskSelect');
            var selectedopt;
            projectSelect.prop('disabled', true);
            taskSelect.prop('disabled', true);
            $("#DocumentCategory").change(function ()
            {
                projectSelect.html('');
                taskSelect.html('');
                selectedopt = $(this).find(":selected").val();

                switch (selectedopt) {
                    case "1":
                        projectSelect.prop('disabled', true);
                        taskSelect.prop('disabled', true);
                        break;
                    case "2":
                        projectSelect.prop('disabled', false);
                        $.getJSON('@Url.Action("GetProjectList", "Document")', function (datas) {
                            var fragdoc = $(document.createDocumentFragment());
                            $(datas).each(function (id,data) {
                                var _option = $('<option></option>');
                                _option.html(data.ProjectName);
                                _option.val(data.ProjectGUID);
                                fragdoc.append(_option);
                            })
                            projectSelect.html(fragdoc);
                        })
                        break;
                    case "3":
                        projectSelect.prop('disabled', false);
                        taskSelect.prop('disabled', false);
                        $.getJSON('@Url.Action("GetProjectList", "Document")', function (datas) {
                            var fragdoc = $(document.createDocumentFragment());
                            $(datas).each(function (id,data) {
                                var _option = $('<option></option>');
                                _option.html(data.ProjectName);
                                _option.val(data.ProjectGUID);
                                fragdoc.append(_option);
                            })
                            projectSelect.html(fragdoc);
                            projectGUID = projectSelect.find(':selected').val();

                        }).done(function () {
                            $.getJSON('@Url.Action("GetTaskList", "Document")/' + projectGUID, function (datas) {
                            var fragdoc = $(document.createDocumentFragment());
                            $(datas).each(function (id,data) {
                                var _option = $('<option></option>');
                                _option.html(data.TaskName);
                                _option.val(data.TaskGUID);
                                fragdoc.append(_option);
                            })
                               taskSelect.html(fragdoc);
                            })
                            })
                        break;
                    default:
                        break;
                }
            })
             projectSelect.change(function () {
                    taskSelect.html('');
                    if (selectedopt == 3) {
                         projectGUID = projectSelect.find(':selected').val();
                     $.getJSON('@Url.Action("GetTaskList", "Document")/' + projectGUID, function (datas) {
                            var fragdoc = $(document.createDocumentFragment());
                            $(datas).each(function (id,data) {
                                var _option = $('<option></option>');
                                _option.html(data.TaskName);
                                _option.val(data.TaskGUID);
                                fragdoc.append(_option);
                            })
                         taskSelect.html(fragdoc);

                            })
                    }
                   

                })
        })
    </script>
}
