@using ProjectManager.Models
@model IEnumerable<ProjectManager.Models.Department>
@{
    ViewBag.Title = "專案成員邀請";
}

@section style{
    <style>
        #sel1 {
            width: 200px;
            margin: 15px;
        }

        #emplist {
            margin: 5px;
        }

        img {
            width: 30px;
        }

        p, .ckbox1 {
            display: inline;
            margin: 15px;
        }

        #scrollDiv {
            height: 700px;
        }

        .alert alert-primary {
            margin: 5px;
        }

        .smallDiv {
            width: 20px;
            background-color: crimson;
        }

        .flip {
            text-align: center;
            background: #fbec06;
            cursor: pointer;
            font-family: 'Arial';
        }

        .rounded-circle {
            margin: 2px;
        }
    </style>
}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label>選擇部門</label>
                <select id="sel1" class="custom-select">
                    <option>選擇部門</option>
                    @foreach (var _dep in Model)
                    {
                        <option value="@_dep.DepartmentGUID">@_dep.DepartmentName</option>
                    }
                </select>
                <div id="teamcount" style="float:right">
                    <div class="flip"><i class="fas fa-users"></i>目前團隊成員</div>
                    <div class="panel" id="teamPanel">
                        @foreach (var _ProjectMemeber in (List<ProjectMembers>)ViewBag.ThisProjectMember)
                        {
                            if (_ProjectMemeber.Employee.TitleGUID != new Guid("724d4916-0f1b-417b-a927-25d04425146d"))
                            {
                                <img src="~/image/avatar.png" title="@_ProjectMemeber.Employee.EmployeeName" class="rounded-circle" data-guid="@_ProjectMemeber.EmployeeGUID" data-title="@_ProjectMemeber.Employee.TitleGUID" />
                            }
                            else
                            {
                                <img src="~/image/leader.png" title="@_ProjectMemeber.Employee.EmployeeName" class="rounded-circle" data-guid="@_ProjectMemeber.EmployeeGUID" data-title="@_ProjectMemeber.Employee.TitleGUID" />
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        @*<table class="table table-bordered"> 
            <thead>
                <tr>
                    <th style="width:90px;">識別頭貼</th>
                    <th style="width:200px">員工姓名</th>
                    <th>平均專案得分</th>
                </tr>
            </thead>
        </table>*@
        <div class="row" style="margin-top:20px">
            <div class="col-sm">
                <div id="scrollDiv">
                    <!--runin-->
                    @foreach (var _emp in (List<Employee>)ViewBag.FirstEmpList)
                    {
                    <div class="alert alert-primary" role="alert" id="empDiv">
                        @if (_emp.JobTitle.TitleName != "專案經理")
                        {
                            <img src="~/image/avatar.png" class="rounded-circle" />
                        }
                        else
                        {
                            <img src="~/image/leader.png" class="rounded-circle" />
                        }
                        <p style="display:inline;margin:45px;">@_emp.EmployeeName</p>
                        <input type="checkbox" class="ckbox1" style="float:right;" value="@_emp.EmployeeGUID" />
                        @if (_emp.ProjectMembers.Average(p => p.PMscore) != null)
                        {
                            <h4 style="display:inline;float:right"><span class="badge badge-light"> @_emp.ProjectMembers.Average(p => p.PMscore)</span></h4>
                        }
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">     
                <a class="btn btn-danger" href="@Url.Action("AssignTask","ProjectMember")">點我查看成員目前承接工作</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="no">取消</button>
                <button type="button" class="btn btn-primary" id="yes">確定移出團隊</button>
            </div>
        </div>
    </div>
</div>

@section script{
<script>
    $(document).ready(function ()
    {
        $('#nav-invitemember-tab').css('border-bottom', 'solid');
        var selecter = $("#sel1");
        var flag = false;
        selecter.change(function () //選擇部門事件
        {
                var selectedopt = $(this).find(":selected").val();
                $.getJSON('@Url.Action("selectdep", "ProjectMember")', { "depid": selectedopt }, function (datas)
                {
                    var sel = $('#scrollDiv');
                    var docFrag = $(document.createDocumentFragment());
                    sel.html($("<img></img>").attr("src", "/image/loading.gif"));
                    $.each(datas, function (idx, _emp)
                    {
                        var p = $("<p></p>").text(_emp.EmployeeName);// Find assigned
                        var input = $("<input/>").attr("type", "checkbox").attr("class", "ckbox1").attr("style", "float:right").val(_emp.EmployeeGUID);
                        if (_emp.TitleGUID != "724d4916-0f1b-417b-a927-25d04425146d")
                        {
                            var img = $("<img/>").attr("src", "/image/avatar.png").attr("class", "rounded-circle");
                        }
                        else
                        {
                            var img = $("<img/>").attr("src", "/image/leader.png").attr("class", "rounded-circle");
                        }
                        var empdiv = $("<div></div>").attr("class", "alert alert-primary");
                        empdiv.append([img, p, input]);
                        docFrag.append(empdiv);
                    })
                    sel.html(docFrag);
                    if (!flag) { selecter.children().first().remove()};
                    flag = true;
                    SendIDToTeamTable();
                }).done(function () { InTeamChecked()})
        })

        SendIDToTeamTable();
        function SendIDToTeamTable()//勾選成員、取消勾選事件
        {
            $('.ckbox1').on('change', function ()
            {
                var memberGUID = $(this).val();
                var memberName = $(this).prev().text();
                var chkboxcheck = $(this);
                chkboxcheck.parent().removeClass().addClass("alert alert-success");
                if (this.checked)
                {
                    $(".panel").html($("<img></img>").attr("src", "/image/loading.gif"))
                    $.ajax({
                        url: '@Url.Action("AddProjectMember", "ProjectMember")',
                        data: { "memberID": memberGUID},
                        success: function ()
                        {                                                      
                            ReloadTeamCount();
                        }
                        , error: function () { alert(memberName + " 已存在於此專案"); chkboxcheck.prop('checked', false); ReloadTeamCount();}
                    });
                }
                else
                {
                    chkboxcheck.parent().removeClass().addClass("alert alert-primary");
                    $(".panel").html($("<img></img>").attr("src", "/image/loading.gif"))
                    $.ajax({
                        url: '@Url.Action("DeleteProjectMember", "ProjectMember")',
                        data: { "memberID": memberGUID},
                        success: function ()
                        {
                            ReloadTeamCount();
                        }
                    });
                }
            });
        }

        function ReloadTeamCount()//重新載入專案成員(當勾選成員時觸發)
        {
            $.getJSON('@Url.Action("ReloadTeamCount", "ProjectMember")', { "projectID": $("#PJGUID").text() }, function (datas)
            {
                var docFrag = $(document.createDocumentFragment());
                var panel = $(".panel");
                $.each(datas, function (idx, _emp)
                {
                    if (_emp.TitleGUID != "724d4916-0f1b-417b-a927-25d04425146d")
                    {
                        var empImg = $("<img/>").attr("src", "/image/avatar.png").attr("class", "rounded-circle").attr("title", _emp.EmployeeName)
                            .attr("data-guid", _emp.EmployeeGUID).attr("data-title", _emp.TitleGUID).tooltip();
                    }
                    else
                    {
                        var empImg = $("<img/>").attr("src", "/image/leader.png").attr("class", "rounded-circle").attr("title", _emp.EmployeeName)
                            .attr("data-guid", _emp.EmployeeGUID).attr("data-title", _emp.TitleGUID).tooltip();
                    }
                    docFrag.append(empImg);           
                })
                panel.html(docFrag);
            })
        }

        $(function () // 目前專案成員滑塊
        {
            $(".flip").click(function () {
                $(".panel").slideToggle("slow");
            });
        });

        $("#teamPanel").on("mouseenter", "img", function (){
            $(this).attr("src", "/image/CancelIcon.png").attr("class", "rounded-circle").attr("style", "opacity:0.4");
        })
        $("#teamPanel").on("mouseleave", "img", function () {
            var titleGuid = $(this).data("title");
            if (titleGuid != "724d4916-0f1b-417b-a927-25d04425146d")
            {
                $(this).attr("src", "/image/avatar.png").attr("class", "rounded-circle").attr("style", "opacity:1");
            }
            else
            {
                $(this).attr("src", "/image/leader.png").attr("class", "rounded-circle").attr("style", "opacity:1");
            }
        })

        $("#teamPanel").on("click", "img", function () { //直接由專案成員方塊刪除
            var circleimg = $(this);
            var EmpName = circleimg.attr("data-original-title");
            var memberGUID = circleimg.data("guid");
             $.ajax({
                    url: '@Url.Action("TaskExist", "ProjectMember")',
                    data: { "memberGUID": memberGUID },
                 success: function (data)
                 {
                     if (data != "NoTask") {
                         $('#myModal').modal('show');
                         $("#myModalLabel").text(EmpName + " 有承接工作的紀錄，要移出團隊嗎?");
                     }
                     else
                     {
                         RemoveMember();
                     }
                 }
              })

            $("#yes").click(function ()
            {
                RemoveMember();
                $('#myModal').modal('hide');
            })
        
            function RemoveMember()
            {                
                $.ajax({
                             url: '@Url.Action("DeleteProjectMember", "ProjectMember")',
                             data: { "memberID": memberGUID },
                              success: function (){
                              circleimg.remove();
                            }
                });
                var divlength = $("#scrollDiv").children().length;
                for (var i = 0; i <= divlength; i++)
                {
                    var empBar = $("#scrollDiv div:eq('" + i + "')").children("input");
                    if (empBar.val() == memberGUID)
                    {
                        empBar.prop('checked', false);
                        empBar.parent().removeClass().addClass("alert alert-primary");
                    }
                }
            }
        })

        $(".rounded-circle").tooltip();
        InTeamChecked();
        function InTeamChecked() //已經在專案內的成員會被打勾
        {
            var ScrollDiv = $("#scrollDiv");
            for (var j = 1; j <= ScrollDiv.children().length; j++)
            {
                var EmployeeName = $('#scrollDiv div:nth-child(' + j + ')').children('p:nth-child(2)').text();
                var teamArea = $("#teamPanel");
                for (var i = 1; i <= teamArea.children().length; i++)
                {
                    var PMemberName = $('#teamPanel img:nth-child(' + i + ')').data("original-title");
                    if (EmployeeName == PMemberName)
                    {
                        $('#scrollDiv div:nth-child(' + j + ')').children('input:nth-child(3)').prop('checked', true);
                        $('#scrollDiv div:nth-child(' + j + ')').removeClass().addClass("alert alert-success");
                    }
                }
            }
        }
    })
</script>
}

@section nav{
    @Html.Partial("_PartialPageNav", "Shared")
}
