@using ProjectManager.Models;
@model IEnumerable<Grouped<string, Tasks>>
<h5>分配給@(ViewBag.UserName)的工作(@(ViewBag.TasksSum))</h5>
<table id="TasksTable" class="table bg-white ">
    <thead>
        @*class="thead-light"*@
        <tr>
            <th>@Html.DisplayNameFor(m => m.group.FirstOrDefault().TaskName)</th>
            <th>@Html.DisplayNameFor(m => m.group.FirstOrDefault().TaskStatusID)</th>
            <th>@Html.DisplayNameFor(m => m.group.FirstOrDefault().Project.ProjectName)</th>
            <th>@Html.DisplayNameFor(m=>m.group.FirstOrDefault().EstEndDate)</th>
            <th>@Html.DisplayName("距離結束天數")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var g in Model)
        {
            foreach (var task in g.group)
            {
        <tr data-TaskGUID="@task.TaskGUID">
            <td><span name="taskLink">@task.TaskName</span></td>
            <td>@task.TaskStatus.TaskStatusName</td>
            <td>
                <span name="projectLink" class="projectLink" title="跳轉至我的任務個版" data-projectGUID="@task.ProjectGUID">
                    @task.Project.ProjectID-@task.Project.ProjectName
                    <sup><i class="fas fa-external-link-alt"></i></sup>
                </span>
            </td>
            <td>@Html.DisplayFor(m => task.EstEndDate)</td>

            @{
                DateTime now = DateTime.Now;
                if (task.TaskStatusID != (int)TasksBL.Task_Status.Closed && task.TaskStatusID != (int)TasksBL.Task_Status.Completed
                    && now < task.EstEndDate)
                {
                    <td style="text-align:center">@(new TimeSpan(task.EstEndDate.Value.Ticks - now.Ticks).Days +1)</td>
                }
                else
                {
                    <td style="text-align:center">0</td>
                }
            }
        </tr>
            }
        }
    </tbody>
</table>

