@using ProjectManager.Models;
@model IEnumerable<Grouped<string, Tasks>>
@{
    ViewBag.Title = "儀錶板";
    ViewBag.Activity = "儀錶板";
}
@section style{

    <style>
        .gantt {
            height:460px;
        }
        .projectLink {
            color: #007bff;
        }

            .projectLink:hover {
                cursor: pointer;
                color: #007bff;
                text-decoration: underline;
            }

        .rightOpenbtn {
            display: none;
        }
        .img_align_Middle{
            display:block;
            margin:auto;
        }
    </style>
}
<!--工作項目統計card-->
<div id="TitleCards"></div>

<div class="m-3 ml-4">
    <div class="row">
        <div class="col-7 bg-light py-4 shadow-sm">
            <div id="projectList" class="form-group">
                <lable for="ProjectList">專案列表：</lable>
                @Html.DropDownList("ProjectList", (SelectList)ViewBag.ProjectList, null, new { @class = "form-control custom-select", required = true })
            </div>
            <div id="container" class="gantt">
            </div>
        </div>

        <div class="col-4 bg-light p-4 shadow-sm ml-3 float-right">
            <div id="left_div" class="container-fluid p-2"></div>
        </div>
    </div>
</div>

@section asideRight{
    <div hidden class="container mt-3">
        <h3 class="text-light ml-3">工作磚</h3>
        <div style="margin:20px;overflow-y: scroll;height:450px;">
            <ul class="list-group " id="taskitem">
                @foreach (var _widget in (IEnumerable<Widgets>)ViewBag.Widgets)
                {
                    <li class="list-group-item draggable align-middle" data-widgetGUID="@_widget.WidgetGUID" title="@_widget.WidgetDesc">
                        <div class="row">
                            <div class="col-3"><img src="~/image/notask2.png" width="60px;" /></div>
                            <div class="col-9 ">
                                <h5>@_widget.WidgetName</h5>
                                <p>@_widget.WidgetDesc</p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

}



@section script{
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js" type="text/javascript"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-gantt.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#left_div').on('click', 'span[name="projectLink"]', null, RedirectToMyBoard);
            $('#TitleCards').load("@Url.Action("GetTitleCardsPV","Home")");
            LoadLeftDiv();
            LoadGantt();

            function RedirectToMyBoard() {
                $.post("@Url.Action("SetCookiesForMyBoard", "Home")", { projectGUID: $(this).attr("data-projectGUID") },
                    function (userGUID) {
                        location.href = "/MyBoard/Index/" + userGUID;
                    });
            }
            $('#ProjectList').change(LoadGantt);

        
            function LoadLeftDiv() {
                $.getJSON("@Url.Action("GetLeftDivPartialView", "Home")", function (actionName) {
                    if (actionName != "GetMyProjectsPV") {
                        var url = "/Home/" + actionName;
                        $('#left_div').load(url);                        
                    }
                    else {
                        var url = "/Home/" + actionName + "?projectGUID=" + $('#ProjectList').val();
                        $('#left_div').load(url);                        
                    }
                });
            }
            function LoadGantt() {
                    $('#container').html('');
                    projectGUID = $('#ProjectList').find(':selected').val();
                    $.getJSON('@Url.Action("GetGantt", "Home")/' + projectGUID, function (datas) {                        
                        var treeData = anychart.data.tree(datas, "as-tree");
                        var chart = anychart.ganttProject();      // chart type
                        chart.data(treeData);                     // chart data
                        chart.container('container').draw();      // set container and initiate drawing
                    })
                if (getCookie("TitleGUID") == "724d4916-0f1b-417b-a927-25d04425146d") {
                       $('#left_div').css('text-align', 'center')
                            .html($("<img></img>").attr("src", "/image/ajax-loader.gif").css('width', '80px').addClass('img_align_Middle'));
                       $('#left_div').load("@Url.Action("GetMyProjectsPV", "Home")" + "?projectGUID=" + $('#ProjectList').val());
                       //$('#left_div').css('text-align', 'left');
                    }
             }
            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
        });
    </script>
    

}