@using ProjectManager.Models.ViewModel
@using ProjectManager.Views.Shared
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">*@
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/Main.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @RenderSection("style", false)
</head>
<body>
    <nav class="top-navbar">
        <span class="leftOpenbtn" style="cursor:pointer">&#9776;</span>
        <a class="title" href="~/@Link.Dashboard">專案管理系統</a>
        <div class="topnav-right">
            <div class="dropdown">
                <button id="logoutbtn" class="navdropbtn">Logout</button>
            </div>
            <div class="dropdown">
                <button class="navdropbtn" id="wantname"><img src="~/image/user2-160x160.jpg" class="user-image" alt="User Image">@EmployeeInfo.EmployeeName</button>
                <div class="dropdown-content">
                    <a href="#">message1</a>
                </div>
            </div>
            <div class="dropdown">
                <button id="notificationbtn" class="navdropbtn"><i class="far fa-envelope"></i><span id="msgcount" class="label"></span></button>
                <div id="notificationmsg" class="dropdown-content">
                </div>
            </div>
        </div>
    </nav>

    <aside id="myLeftsidenav" class="left-sidenav left-sidenav-open">
        <ul>
            <li id="li_Dashboard">
                <a href="~/@Link.Dashboard"><i class="fas fa-tachometer-alt"></i><span>儀錶板</span></a>
            </li>
            <li>
                <button class="dropdown-btn">
                    <i class="fas fa-copy"></i><span>專案列表</span><i class="fa fa-caret-down"></i>
                </button>
                <ul id="ul_Projects" class="dropdown-container hide">
                    <li id="li_ProjectDo">
                        <a href="~/@Link.Do">進行中</a>
                    </li>
                    <li id="li_ProjectCheck">
                        <a href="~/@Link.Check">審議中</a>
                    </li>
                    <li id="li_ProjectDone">
                        <a href="~/@Link.Done">已結案</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/@Link.Tasks"><i class="fas fa-tasks"></i><span>我的任務</span></a>
            </li>
            <li>
                <button class="dropdown-btn">
                    <i class="fas fa-chart-pie"></i><span>成本管理</span><i class="fa fa-caret-down"></i>
                </button>
                <ul id="ul_costManagement" class="dropdown-container hide">
                    <li id="li_ExpList">
                        <a href="~/@Link.ExpList">費用管理</a>
                    </li>
                    <li id="li_ExpCatMgr">
                        <a href="~/@Link.ExpCatMgr">費用類別管理</a>
                    </li>
                    <li id="li_Charts">
                        <a href="~/@Link.ExpChart">統計與圖表</a>
                    </li>
                </ul>
            </li>
            <li id="li_Calendar">
                <a href="~/@Link.Calendar"><i class="fas fa-calendar-alt"></i><span>行事曆</span></a>
            </li>
            <li>
                <a href="~/@Link.Document"><i class="fas fa-users"></i><span>文件管理</span></a>
            </li>
            <li>
                <button class="dropdown-btn">
                    <i class="fas fa-chalkboard"></i><span>專案評分</span><i class="fa fa-caret-down"></i>
                </button>
                <ul id="ul_Perfomance" class="dropdown-container hide">
                    <li id="li_TeamScore">
                        <a href="~/@Link.Perfomance">團隊評分</a>
                    </li>
                    <li id="li_OverView">
                        <a href="#">評分總覽</a>
                    </li>
                </ul>
            </li>
            <li>
                <button class="dropdown-btn">
                    <i class="fas fa-tasks"></i><span>後臺管理</span><i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-container hide">
                    <li>
                        <a href="~/@Link.BackStage_Project">專案</a>
                    </li>
                    <li>
                        <a href="~/@Link.BackStage_ProjectCategory">專案類型</a>
                    </li>
                    <li>
                        <a href="~/@Link.BackStage_ProjectStatus">專案階段</a>
                    </li>
                    <li>
                        <a href="~/@Link.BackStage_Tasks">任務</a>
                    </li>
                    <li>
                        <a href="~/@Link.BackStage_TaskStatus">任務階段</a>
                    </li>
                    <li>
                        <a href="~/@Link.BackStage_ProjectMembers">團隊成員</a>
                    </li>
                    <li>
                        <a href="~/@Link.Document_Edit">文件管理</a>
                    </li>
                    <li>
                        <a href="~/@Link.BackStage_Employees">員工</a>
                    </li>
                    <li>
                        <a href="~/@Link.BackStage_Members">重設員工密碼</a>
                    </li>
                    <li>
                        <a href="~/@Link.BackStage_JobTitle">職稱</a>
                    </li>
                    <li>
                        <a href="~/@Link.BackStage_Department">部門</a>
                    </li>
                    <li>
                        <a href="~/@Link.BackStage_Permissions">權限</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/@Link.ChangePassword"><i class="fas fa-users"></i><span>修改密碼</span></a>
            </li>

        </ul>
    </aside>

    <article id="mainArticle" class="main main-left-toggle">
        <div class="content-header">
            <h3>@ViewBag.Title</h3>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fas fa-chart-pie"></i> @ViewBag.Activity</a></li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>
        @{
            if (IsSectionDefined("nav"))
            {
                @RenderSection("nav", false);
            }
        }
        <div class="content">
            @RenderBody()

            <div class="dropup">
                <button class="dropupbtn" title="聊天訊息" type="button"><i class="fas fa-comments"></i></button>
                <div class="dropup-content">

                    <div class="chat-box" style="display: block;">
                        <div class="chat-box-header">
                            @EmployeeInfo.EmployeeName 專案聊天室
                        </div>
                        <div class="chat-box-body">
                            <div class="chat-box-overlay">
                            </div>
                            <div class="chat-logs" id="test">
                            </div>
                        </div>
                        <div class="chat-input">
                            <form onsubmit="return false">
                                <input type="text" id="message" autocomplete="off" class="form-control" placeholder="Send a message...">
                                <button type="button" class="chat-submit" id="sendmessage"><i class="far fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>


                </div>
            </div>

            <button type="button" class="rightOpenbtn">&#9776;</button>
            <aside id="myRightsidenav" class="right-sidenav" style="display: none;">
                @{
                    if (IsSectionDefined("asideRight"))
                    {
                        @RenderSection("asideRight", false);
                    }
                    else
                    {
                        <ul>
                            <li>
                                <a href="#"><i class="fas fa-tachometer-alt"></i><span>自己決定要放什麼</span></a>
                            </li>
                            <li>
                                <button class="dropdown-btn">
                                    <i class="fas fa-copy"></i><span>下拉式選單</span><i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-container">
                                    <li>
                                        <a href="#">選項1</a>
                                    </li>
                                    <li>
                                        <a href="#">選項2</a>
                                    </li>
                                    <li>
                                        <a href="#">選項3</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }
                }
            </aside>
        </div>
    </article>
    <footer></footer>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*<script src="~/Scripts/jquery-ui-1.12.1-Effects/jquery-ui.min.js"></script> 家豪先註解掉，如下，引用全部*@
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script> 改為引用打包popper.js+boostrap.js的bundle*@
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/Main.js"></script>

    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    @RenderSection("script", false)
    <script src="~/Scripts/SignalRChat.js"></script>
</body>
</html>

