@model ProjectManager.Models.BoardVM
@{
    ViewBag.Title = "選擇專案";
}
@section style{
<style>
    .ProjectFlex_a {
        display: flex;
        flex-wrap:wrap;
    }
    .projectLink {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
    }
    .progressBar {
        position: absolute;
        top: 37.5%;
        left: 50%;
        margin-left: -70px;
        background-color: #fff;
        width: 140px;
        height: 20px;
        margin-top: -10px;
        border-radius: 5px;
    }
    .bar {
        position: absolute;
        top: 37.5%;
        left: 50%;
        margin-left: -70px;
        background-color: #ffd800;
        width: 100px;
        height: 20px;
        margin-top: -10px;
        border-radius: 5px 0 0 5px;
    }
    .barNum {
        position: absolute;
        top: 37.5%;
        left:40px;
        margin-top: -12px;
    }
    .project p {
        width: 100%;
        color: #000;
        position: absolute;
        bottom: 0;
        text-align: center;
        line-height: 50px;
        margin: 0;
        background-color: #fff;
        border: 1px solid #808080;
    }
</style>
}
<div class="ProjectFlex_a container mt-5">
    @*@foreach (var d in Model.ProjectMember)
    {
        <h4 class="text-dark" style="font-size:20px;" data-dept="Dept2">
            <span class="float-left"><i class="fas fa-caret-down"></i></span>
            @d.Project.Department.DepartmentName
        </h4>
        <div>*@
            @foreach (var p in Model.ProjectMember)
            {
                <a href="@Url.Action("Index", "SelectMBoard",new {id=p.ProjectGUID })">
                    <div class="card d-inline-block mr-3 mb-2 " style="width:18rem;">
                        <div class="card-header bg-dark">
                            <span class="text-light">完成比率</span>
                            <div class="progress">

                                <div class="progress-bar" role="progressbar" style="width: 58%;" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100">58%</div>
                            </div>
                            <span class="text-light">實際工期節省比率</span>
                            <div class="progress ">
                                <div class="progress-bar " role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                            </div>
                        </div>
                        <div class="card-footer text-center text-muted ">
                            <div class="row align-items-center">
                                <div class="col-2"></div>
                                <div class="col-8 small">@p.Project.ProjectName</div>
                                <div class="col-2">
                                    <i class="far fa-check-square" style="color:black" data-toggle="tooltip" title="" data-original-title="總經理關注"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        @*</div>*@
    @*}*@





    @*@foreach (var p in Model.ProjectMember)
    {
        <div class="project">
            <a class="projectLink" href="@Url.Action("Index", "SelectMBoard",new {id=p.ProjectGUID })"></a>
            <div class="progressBar"></div>
            <div class="bar"></div>
            <span class="barNum">50%</span>
            <p>@p.Project.ProjectName</p>
        </div>
    }*@
</div>
@section script{
    <script>
        $(".project").css({
            "width": "200px",
            "height": "150px",
            "background-color": "#000",
            "margin": "10px",
            "position": "relative",
            "border-radius": "15px 15px 0 0"
        });
    </script>
}