@using ProjectManager.Models
@model IEnumerable<ProjectManager.Models.Grouped<string, Project>>
@{
    ViewBag.Title = "選擇專案";
}
@section style{
    <style>
        .ProjectFlex_a {
            display: flex;
            flex-wrap: wrap;
        }
        h4:hover {
            text-decoration: none;
            cursor: pointer;
        }

        .bookMark {
            position: relative;
            top: -6px;
            float: right;
            margin-right: 0.5rem !important;
        }

        .ProjectCard {
            position: relative;
            display: -ms-flexbox;
            display: inline-block !important;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 10rem;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1.5px solid rgba(0, 0, 0, 0.1);
            border-radius: 0.3rem;
            margin-right: 1rem !important;
            margin-bottom: 0.5rem !important;
            margin-top: 0.25rem !important;
        }

            .ProjectCard .card-footer {
                padding: 0.75rem 1.25rem;
                background-color: #343a40 !important;
                padding-top: 0.5rem !important;
                padding-bottom: 1rem !important;
            }

        .bg-alarm {
            background-color: #fab759 !important;
        }

        .text-dark {
            width:100%;
        }

        .rightOpenbtn {
            display: none;
        }
        .collapsible {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

    </style>
}

    <div id="ProjectsOverview" class="ProjectFlex_a container mt-3">
        @{int i = 0; }
        @foreach (var g in Model)
        {
            i++;
            <h4 class="text-dark my-4" style="font-size:20px;" data-Dept=Dept@(i)>
                <span class="float-left"><i class="fas fa-caret-down"></i></span>
                @g.Key
            </h4>

            <div class="collapsible my-4 container" id=Dept@(i)>
                @foreach (var item in g.group)
                {
                    <a href='@Url.Action("Index", "SelectMBoard",new { id=item.ProjectGUID })' data-ProjectGUID="@item.ProjectGUID">
                        <div class="ProjectCard" style="width:18rem;">
                            @{
                                if ((bool)item.IsGeneralManagerConcerned)
                                {
                                    <span class="bookMark" data-toggle="tooltip" title="總經理關注"><img style="width:28px;" src="~/image/bookmark_icon30.png" /></span>
                                }
                            }
                            <div class="card-header text-center text-muted ">
                                <div class="row align-items-center mx-0">
                                    <div class="col pl-3">
                                        <h6 class="mb-0">
                                            @Html.DisplayFor(m => item.ProjectName)
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <span class="text-light">@Html.DisplayNameFor(m => m.group.FirstOrDefault().CompletedRate)</span>
                                <div class="progress">
                                    @{
                                        string percent = string.Format("{0}%", item.CompletedRate);
                                        string value = item.CompletedRate.ToString();
                                    }
                                    <div class="progress-bar" role="progressbar" style="width: @percent;" aria-valuenow="@value" aria-valuemin="0" aria-valuemax="100">@percent</div>
                                </div>
                                <span class="text-light">@Html.DisplayNameFor(m => m.group.FirstOrDefault().DurationSavedRate)</span>
                                <div class="progress ">
                                    @{
                                        percent = string.Format("{0}%", item.DurationSavedRate);
                                        value = item.DurationSavedRate.ToString();
                                        string absPercent = string.Format("{0}%", Math.Abs(item.DurationSavedRate));
                                    }
                                    <div class="progress-bar " role="progressbar" style="width: @absPercent;" aria-valuenow="@value" aria-valuemin="0" aria-valuemax="100">@percent</div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        }
    </div>
@section script{
    <script>
        $(document).ready(function () {
            var Overview = $('#ProjectsOverview');
            Overview.find('h4').on("click", function () {
                var _dept = "#" + $(this).attr("data-Dept");
                $(_dept).toggle("blind", {}, 300);
                $(this).find("i").toggleClass("fas fa-caret-down").toggleClass("fas fa-caret-right");
            });
        })
    </script>
}